<!-- th:fragmentの内部以外は共通要素として反映されません -->
<!-- bodyの共通フッター -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../static/css/main.css">
</head>
<body>
  <footer th:fragment="footer">
    <div class="footer">
      <div class="footer-logo">
        <a th:href="@{/}" class="footer-logo">Dancer's Career</a>
      </div>
      <div class="footer-list">
        <ul>
          <li><a th:href="@{/about/terms-of-use}">利用規約</a></li>
          <li><a th:href="@{/about/contact}">お問い合わせ</a></li>
        </ul>
      </div>
      <div class="copy">
        <small>&copy; 2018 （一社）東京六大学ストリートダンス連盟</small>
      </div>
    </div>
  </footer>
</body>
</html>
