<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>

<header th:fragment="for-user"><!-- 普通のユーザー用のヘッダー -->
  <div class="header">
    <a th:href="@{/}"><img alt="t6sdldc" src="../../static/img/logo1.png" class="header-logo"></a><!-- ロゴ兼トップページへのリンク -->
    <div class="header-list">
      <ul>
        <li><a th:href="@{/}">ダンサーズキャリアとは</a></li>
        <li><a th:href="@{/experiences?all}">ES/体験記を探す</a></li>
        <li><a th:href="@{/user}">マイページ</a></li>
      </ul>
    </div>
    <div class="logout">
      <ul>
        <li><a th:href="@{/logout}">ログアウト</a></li>
      </ul>
    </div>
  </div>
</header>

<header th:fragment="for-admin"><!-- 管理者アカウント用のヘッダー -->
  <div class="header">
    <a th:href="@{/}"><img alt="t6sdldc" src="../../static/img/logo1.png" class="header-logo"></a><!-- ロゴ兼トップページへのリンク -->
    <div class="header-list">
      <ul>
        <li><a th:href="@{/admin/search/students?all}">登録学生検索</a></li>
        <li><a th:href="@{/admin/experiences/new}">ES/体験記【登録】</a></li>
        <li><a th:href="@{/admin/search/experiences?all}">ES/体験記【検索】</a></li>
      </ul>
    </div>
    <div class="logout">
      <ul>
        <li><a th:href="@{/logout}">ログアウト</a></li>
      </ul>
    </div>
    </div>

</header>

<header th:fragment="for-stranger"><!-- ログインしていない人用のヘッダー -->
  <div class="header">
    <a th:href="@{/}"><img alt="t6sdldc" src="../../static/img/logo1.png" class="header-logo"></a><!-- ロゴ兼トップページへのリンク -->
  </header>
</div>
</body>
</html>
