<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>プロフィール｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20200601}" href="../../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css?update=20200601}" href="../../../static/css/form.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/user.css?update=20200601}" href="../../../static/css/user.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
  <body>
    <header th:replace="common/header :: for-user"></header>
    <main>
      <div class="container window--lg" th:object="${profile}">
        <h1>プロフィール</h1>
        <p th:if="${param.modified}" class="safety"><i class="fas fa-check-circle"></i>修正が保存されました</p>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">氏名</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="|*{familyName == null ? '' : familyName} *{givenName == null ? '' : givenName}|"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">氏名(カナ)</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="|*{kanaFamilyName == null ? '' : kanaFamilyName} *{kanaGivenName == null ? '' : kanaGivenName}|"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">生年月日</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="*{birthForDisplay == null ? '' : birthForDisplay}"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">性別</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="*{sex == null ? '' : sex}"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">電話番号</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="*{phone == null ? '' : phone}"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">卒業予定</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="*{graduatedIn == null ? '' : graduatedIn}"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">最終学歴</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="*{degree == null ? '' : degree}"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">文理</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="*{major == null ? '' : major}"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">大学・学部・学科</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="|*{univName == null ? '' : univName} *{univFac == null ? '' : univFac} *{univDep == null ? '' : univDep}|"></div>
          </div>
        </div>
        <div th:unless="*{gradName == ''}" class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">大学院・研究科・専攻</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="|*{gradName == null ? '' : gradName} *{gradSchool == null ? '' : gradSchool} *{gradDiv == null ? '' : gradDiv}|"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">所属サークル</label>
          </div>
          <div class="form-item form-item--wide">
            <div th:text="*{club == null ? '' : club}"></div>
          </div>
        </div>
        <div class="form-item form-2-items">
          <div class="form-item form-item--narrow">
            <label class="form-item__label">サークル等での役職</label>
          </div>
          <div class="form-item form-item--wide">
            <div><span th:each="pos : *{position == null ? '' : position}" th:text="${pos}" class="position-tag"></span></div>
          </div>
        </div>
        <div class="form-item">
          <a class="button button--primary" th:href="@{/user/profile/change}">
            <span class="button__text">修正する</span><i class="button__icon fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <nav th:replace="user/common/tab :: tab"></nav>
    </main>
    <footer th:replace="common/footer :: footer"></footer>
  </body>
  </html>
