<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>パスワードの再設定｜ダンサーズキャリア</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="../../static/css/form.css">

</head>
<body>
  <header th:replace="common/header :: for-stranger"></header>
  <main>
    <form th:action="@{/signin/forget-pwd}" method="post" th:object="${emailForm}" id="form">
      <h1>パスワードの再設定</h1>
      <p>入力されたメールアドレス宛にパスワード再設定用のURLを送信します</p>
      <div>
        <label for="email">メールアドレス</label>
        <input type="email" th:field="*{email}" class="form">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
      </div>
      <div>
        <input type="submit" value="送信する" class="button">
      </div>
    </form>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script th:src="@{/js/submit.js}"></script>
</body>
</html>
