<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>パスワードの再設定｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20200614}" href="../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css?update=20200614}" href="../../static/css/form.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
  <header th:replace="common/header :: for-stranger"></header>
  <main>
    <div class="container window--sm">
      <h1>パスワードの再設定</h1>
      <form th:action="@{/signin/reset-pwd} + '?token=' + ${token}" method="post" th:object="${newPasswordForm}">
        <p>新しいパスワードを入力してください</p>
        <div class="form-item">
          <label class="form-item__label" for="newPassword">パスワード</label>
          <input class="form-item__input input--short-text" type="password" th:field="*{newPassword}" th:errorclass="invalid" placeholder="新しいパスワード">
          <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="invalid"></p>
        </div>
        <div class="form-item">
          <label class="form-item__label" for="confirmPassword">パスワード(確認)</label>
          <input class="form-item__input input--short-text" type="password" th:field="*{confirmPassword}" th:classappend="${#fields.hasErrors('samePassword') ? 'invalid' : ''}" placeholder="新しいパスワード(確認)">
          <p th:if="${#fields.hasErrors('samePassword')}" th:errors="*{samePassword}" class="invalid"></p>
        </div>
        <div>
          <p class="note">パスワードは半角英数記号8文字以上で入力してください</p>
        </div>
        <div class="form-item">
          <button type="submit" class="button button--primary form-item__submit">
            <span class="button__text">パスワードを変更する</span><i class="button__icon fas fa-arrow-right"></i>
          </button>
        </div>
      </form>
    </div>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
  <script th:src="@{/js/submit.js}"></script>
</body>
</html>
