<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>ログイン｜ダンサーズキャリア</title>
</head>
<body>
<!-- ヘッダーは共通モジュール(header.html)を挿入します -->
<header th:replace="common/header :: for-stranger"></header>
<!-- formタグ外は色々いじってくれて大丈夫です、formタグ内もdivタグ追加したりとかしてくれて大丈夫です -->
<form th:action="@{/login}" method="post">
<h1>ログイン</h1>
<p th:if="${param.error}">ログインに失敗しました</p>
<div>
<label th:for="email">メールアドレス</label>
<input type="email" id="email" name="email">
</div>
<div>
<label th:for="password">パスワード</label>
<input type="password" id="password" name="password">
</div>
<div>
<input type="checkbox" id="remember-me" name="remember-me">
<label for="remember-me">ログインしたままにする</label>
</div>
<div>
<input type="submit" value="ログイン">
</div>
</form>
<div>
<p><a th:href="@{/signin/forget-pwd}">パスワードをお忘れですか？</a></p>
</div>
<div>
<p><a th:href="@{/signup}">アカウントをお持ちでない方はこちら</a></p>
</div>
<!-- フッターもヘッダー同様です -->
<footer th:replace="common/footer :: footer"></footer>
</body>
</html>