<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ログイン｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="ダンサーズキャリアは、ダンサーの先輩たちが実際に就職活動で使ったエントリーシート・面接体験記を公開するサービスです。ダンスをやっていない人に、ダンスの話を面接という短時間の場で伝え切るには準備が必要です。体育会に負けず劣らずダンスに打ち込んだみなさんが就職活動でその経験をきちんと伝え、評価されて欲しい。そんな世界を創るために私たちはこのメディアを立ち上げました。本サイトを通して、1人でも多くのダンサーが就職活動を成功させることを願っています。">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20181130}" href="../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/window.css?update=20181110-2}" href="../../static/css/window.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css?update=20181130}" href="../../static/css/form.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/openclose.js}" src="../../static/js/openclose.js"></script>
</head>
<body class="formbg2">

  <header th:replace="common/header :: for-stranger"></header>
  <main>
  <div id="formdef">
    <h1>ログイン</h1>
    <form name='form-login' th:action="@{/login}" method="post">
      <p class="hazard" th:if="${param.error}"><i class="fas fa-exclamation-circle"></i>メールアドレスまたはパスワードに誤りがあります</p>
      <input type="email" placeholder="Email" name="email"><br><input type="password" placeholder="Password" name="password">

      <div>
        <input type="checkbox" id="remember-me" name="remember-me">
        <label for="remember-me">ログインしたままにする</label>
      </div>

      <div>
        <input type="submit" value="ログイン" class="button">
      </div>

      <div>
        <p><a th:href="@{/signin/forget-pwd}">パスワードをお忘れですか？</a></p>
      </div>

      <div>
        <p><a th:href="@{/signup}">アカウントをお持ちでない方はこちら</a></p>
      </div>
    </form>
  </div>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
  <script th:src="@{/js/submit.js}"></script>
</body>
</html>
