<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <title>ログイン｜ダンサーズキャリア</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/form.css">

</head>

<body>
  <header th:replace="common/header :: for-stranger"></header>
  <form th:action="@{/login}" method="post">
    <h1>ログイン</h1>
    <div class="login-form">
      <p class="hazard" th:if="${param.error}">メールアドレスまたはパスワードに誤りがあります</p>
      <div class="form-text">
        <div>
          <label th:for="email">メールアドレス</label>
          <br>
          <input type="email" id="email" name="email" class="form">
        </div>
        <div>
          <label th:for="password">パスワード</label>
          <br>
          <input type="password" id="password" name="password" class="form">
        </div>
      </div>
      <div>
        <input type="checkbox" id="remember-me" name="remember-me">
        <label for="remember-me">ログインしたままにする</label>
      </div>
      <div>
        <input type="submit" value="ログイン" class="button">
      </div>
    </div>
  </form>






  <div id="form-main">
    <div id="form-div">
      <form class="form" id="form1">


        <p class="email">
          <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
        </p>


        <p class="name">
          <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Password" id="name" />
        </p>


        <div class="submit">
          <input type="submit" value="LOG IN" id="button-blue"/>
          <div class="ease"></div>
        </div>
      </form>
    </div>









  </form>
  <div>
    <p class="linkblue"><a th:href="@{/signin/forget-pwd}">パスワードをお忘れですか？</a></p>
  </div>
  <div>
    <p class="linkblue"><a th:href="@{/signup}">アカウントをお持ちでない方はこちら</a></p>
  </div>
</div>

<!-- フッターもヘッダー同様です -->
<footer th:replace="common/footer :: footer"></footer>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script th:src="@{/js/submit.js}"></script>
</body>
</html>
