<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ES/体験記【詳細】｜ダンサーズキャリア</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<th:block th:replace="common/favicons :: favicons"></th:block>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20190206}" href="../../../static/css/main.css">
</head>
<body>
<header th:replace="common/header :: for-admin"></header>
<main>
<h1>ES/体験記【詳細】</h1>
<article th:object="${experience}">
<p th:text="|PV数 *{page_view} ｜ お気に入り登録者数 *{likes}|"></p>
<fieldset>
<legend>提供者情報</legend>
<div>
<p>氏名</p>
<p>姓：【<span th:text="*{last_name} == '' ? '非公開' : *{last_name}"></span>】
名：【<span th:text="*{first_name} == '' ? '非公開' : *{first_name}"></span>】</p>
</div>
<div>
<p>氏名（カナ）</p>
<p>セイ：【<span th:text="*{kana_last_name} == '' ? '非公開' : *{kana_last_name}"></span>】
メイ：【<span th:text="*{kana_first_name} == '' ? '非公開' : *{kana_first_name}"></span>】</p>
</div>
<div>
<p>性別</p>
<p>【<span th:text="*{sex} == '' ? '非公開' : *{sex}"></span>】</p>
</div>
<div>
<p>卒業年度</p>
<p>【<span th:text="*{graduation} == '' ? '非公開' : *{graduation}"></span>】 年度</p>
</div>
<div>
<p>最終学歴</p>
<p>【<span th:text="*{academic_degree} == '' ? '非公開' : *{academic_degree}"></span>】</p>
</div>
<div>
<p>文理</p>
<p>【<span th:text="*{major} == '' ? '非公開' : *{major}"></span>】</p>
</div>
<div>
<p>大学・学部・学科</p>
<p>大学所在地：【<span th:text="*{univ_pref} == '' ? '非公開' : *{univ_pref}"></span>】
大学：【<span th:text="*{univ_name} == '' ? '非公開' : *{univ_name}"></span>】
学部：【<span th:text="*{faculty} == '' ? '非公開' : *{faculty}"></span>】
学科：【<span th:text="*{department} == '' ? '非公開' : *{department}"></span>】</p>
</div>
<div>
<p>大学院・研究科・専攻</p>
<p>大学院所在地：【<span th:text="*{grad_school_pref} == '' ? '' : *{grad_school_pref}"></span>】
大学院：【<span th:text="*{grad_school_name} == '' ? '' : *{grad_school_name}"></span>】
研究科：【<span th:text="*{grad_school_of} == '' ? '' : *{grad_school_of}"></span>】
専攻：【<span th:text="*{program_in} == '' ? '' : *{program_in}"></span>】</p>
</div>
<div>
<p>サークルなどでの役職・役割</p>
<p><span th:each="pos : *{position}" th:text="|【${pos}】 |"></span></p>
</div>
<div>
<p>所属サークル</p>
<p><span th:each="clubItem : *{club}" th:text="|【${clubItem == '' ? '非公開' : clubItem}】 |"></span></p>
</div>
<div>
<p>内定先</p>
<p><span th:each="offerItem : *{offer}" th:text="|【${offerItem == '' ? '非公開' : offerItem}】 |"></span></p>
</div>
<hr>
<div style="text-align:right;">
<a class="button" th:href="@{/admin/experiences/{experienceId}?modify(experienceId=*{experience_id})}">提供者情報を修正する</a>
</div>
</fieldset>
<fieldset>
<legend>ES</legend>
<div th:each="esItem, loop : *{es}">
<p>提出先企業：<span th:text="*{es[__${loop.index}__].corp} == '' ? '【非公開】' : *{es[__${loop.index}__].corp}"></span></p>
<p>選考結果：<span th:text="*{es[__${loop.index}__].result} == '' ? '【非公開】' : *{es[__${loop.index}__].result}"></span></p>
<p>設問：<span th:text="*{es[__${loop.index}__].question.get(0)} == '' ? '【非公開】' : *{es[__${loop.index}__].question.get(0)}"></span></p>
<p>回答：<br><span th:text="*{es[__${loop.index}__].answer.get(0)} == '' ? '【非公開】' : *{es[__${loop.index}__].answer.get(0)}"></span></p>
<p>赤入れ：<br><span th:text="*{es[__${loop.index}__].advice.get(0)} == '' ? '【非公開】' : *{es[__${loop.index}__].advice.get(0)}"></span></p>
<div style="text-align:right;">
<a class="button" th:href="@{/admin/experiences/{experienceId}/es/{esId}?modify(experienceId=*{experience_id},esId=*{es[__${loop.index}__].es_id})}">このESを修正する</a>
<a class="button" th:href="@{/admin/experiences/{experienceId}/es/{esId}?delete(experienceId=*{experience_id},esId=*{es[__${loop.index}__].es_id})}">このESを消去する</a>
</div>
<hr>
</div>
<div>
<a class="button" th:href="@{/admin/experiences/{experienceId}/es/new(experienceId=*{experience_id})}">ESを追加する</a>
</div>
</fieldset>
<fieldset>
<legend>Interview</legend>
<div th:each="interviewItem, loop : *{interview}">
<p>設問：<span th:text="*{interview[__${loop.index}__].question} == '' ? '【非公開】' : *{interview[__${loop.index}__].question}"></span></p>
<p>回答：<br><span th:text="*{interview[__${loop.index}__].answer} == '' ? '【非公開】' : *{interview[__${loop.index}__].answer}"></span></p>
<div style="text-align:right;">
<a class="button" th:href="@{/admin/experiences/{experienceId}/interview/{interviewId}?modify(experienceId=*{experience_id},interviewId=*{interview[__${loop.index}__].interview_id})}">このInterviewを修正する</a>
<a class="button" th:href="@{/admin/experiences/{experienceId}/interview/{interviewId}?delete(experienceId=*{experience_id},interviewId=*{interview[__${loop.index}__].interview_id})}">このInterviewを消去する</a>
</div>
<hr>
</div>
<div>
<a class="button" th:href="@{/admin/experiences/{experienceId}/interview/new(experienceId=*{experience_id})}">Interviewを追加する</a>
</div>
</fieldset>
<div style="text-align:right;">
<a class="button" th:href="@{/admin/experiences/{experienceId}?delete(experienceId=*{experience_id})}">このES/体験記を消去する</a>
</div>
</article>
</main>
<footer th:replace="common/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
