<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="common/head :: head"></th:block>
<title>ES/体験記【詳細】｜ダンサーズキャリア</title>
</head>
<body>
<header th:replace="common/header :: for-admin"></header>
<main>
<h1>ES/体験記【詳細】</h1>
<article th:object="${experience}">
<p th:text="|PV数 *{page_view} ｜ お気に入り登録者数 *{likes}|"></p>
<fieldset>
<legend>提供者情報</legend>
<div>
<p>氏名</p>
<p>姓：【<span th:text="*{last_name} == '' ? '非公開' : *{last_name}"></span>】
名：【<span th:text="*{first_name} == '' ? '非公開' : *{first_name}"></span>】</p>
</div>
<div>
<p>氏名（カナ）</p>
<p>セイ：【<span th:text="*{kana_last_name} == '' ? '非公開' : *{kana_last_name}"></span>】
メイ：【<span th:text="*{kana_first_name} == '' ? '非公開' : *{kana_first_name}"></span>】</p>
</div>
<div>
<p>性別</p>
<p>【<span th:text="*{sex} == '' ? '非公開' : *{sex}"></span>】</p>
</div>
<div>
<p>文理</p>
<p>【<span th:text="*{major} == '' ? '非公開' : *{major}"></span>】</p>
</div>
<div>
<p>大学・学部・学科</p>
<p>大学所在地：【<span th:text="*{prefecture} == '' ? '非公開' : *{prefecture}"></span>】
大学：【<span th:text="*{university} == '' ? '非公開' : *{university}"></span>】
学部：【<span th:text="*{faculty} == '' ? '非公開' : *{faculty}"></span>】
学科：【<span th:text="*{department} == '' ? '非公開' : *{department}"></span>】</p>
</div>
<div>
<p>卒業年度</p>
<p>【<span th:text="*{graduation} == '' ? '非公開' : *{graduation}"></span>】 年度</p>
</div>
<div>
<p>最終学歴</p>
<p>【<span th:text="*{academic_degree} == '' ? '非公開' : *{academic_degree}"></span>】</p>
</div>
<div>
<p>サークルなどでの役職・役割</p>
<p><span th:each="pos : *{position}" th:text="|【${pos}】 |"></span></p>
</div>
<div>
<p>所属サークル</p>
<p><span th:each="clubItem : *{club}" th:text="|【${clubItem == '' ? '非公開' : clubItem}】 |"></span></p>
</div>
<div>
<p>内定先</p>
<p><span th:each="offerItem : *{offer}" th:text="|【${offerItem == '' ? '非公開' : offerItem}】 |"></span></p>
</div>
<hr>
<div style="text-align:right;">
<a th:href="@{/admin/experiences/{experienceId}?modify(experienceId=*{experience_id})}"><button>提供者情報を修正する</button></a>
</div>
</fieldset>
<fieldset>
<legend>ES</legend>
<div th:each="esItem, loop : *{es}">
<p>提出先企業：<span th:text="*{es[__${loop.index}__].corp} == '' ? '【非公開】' : *{es[__${loop.index}__].corp}"></span></p>
<p>選考結果：<span th:text="*{es[__${loop.index}__].result} == '' ? '【非公開】' : *{es[__${loop.index}__].result}"></span></p>
<p>設問：<span th:text="*{es[__${loop.index}__].question} == '' ? '【非公開】' : *{es[__${loop.index}__].question}"></span></p>
<p>回答：<br><span th:text="*{es[__${loop.index}__].answer} == '' ? '【非公開】' : *{es[__${loop.index}__].answer}"></span></p>
<p>赤入れ：<br><span th:text="*{es[__${loop.index}__].advice} == '' ? '【非公開】' : *{es[__${loop.index}__].advice}"></span></p>
<div style="text-align:right;">
<a th:href="@{/admin/experiences/{experienceId}/es/{esId}?modify(experienceId=*{experience_id},esId=*{es[__${loop.index}__].es_id})}"><button>このESを修正する</button></a>
<a th:href="@{/admin/experiences/{experienceId}/es/{esId}?delete(experienceId=*{experience_id},esId=*{es[__${loop.index}__].es_id})}"><button>このESを消去する</button></a>
</div>
<hr>
</div>
<div>
<a th:href="@{/admin/experiences/{experienceId}/es/new(experienceId=*{experience_id})}"><button>ESを追加する</button></a>
</div>
</fieldset>
<fieldset>
<legend>Interview</legend>
<div th:each="interviewItem, loop : *{interview}">
<p>設問：<span th:text="*{interview[__${loop.index}__].question} == '' ? '【非公開】' : *{interview[__${loop.index}__].question}"></span></p>
<p>回答：<br><span th:text="*{interview[__${loop.index}__].answer} == '' ? '【非公開】' : *{interview[__${loop.index}__].answer}"></span></p>
<div style="text-align:right;">
<a th:href="@{/admin/experiences/{experienceId}/interview/{interviewId}?modify(experienceId=*{experience_id},interviewId=*{interview[__${loop.index}__].interview_id})}"><button>このInterviewを修正する</button></a>
<a th:href="@{/admin/experiences/{experienceId}/interview/{interviewId}?delete(experienceId=*{experience_id},interviewId=*{interview[__${loop.index}__].interview_id})}"><button>このInterviewを消去する</button></a>
</div>
<hr>
</div>
<div>
<a th:href="@{/admin/experiences/{experienceId}/interview/new(experienceId=*{experience_id})}"><button>Interviewを追加する</button></a>
</div>
</fieldset>
<div style="text-align:right;">
<a th:href="@{/admin/experiences/{experienceId}?delete(experienceId=*{experience_id})}"><button>このES/体験記を消去する</button></a>
</div>
</article>
</main>
<footer th:replace="common/footer :: footer"></footer>
</body>
</html>