<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="common/head :: head"></th:block>
<title>ES/体験記【修正】｜ダンサーズキャリア</title>
</head>
<body>
<header th:replace="common/header :: for-admin"></header>
<main>
<h1>ES/体験記【修正】</h1>
<form th:action="@{/admin/experiences/{experienceId}(experienceId=${experienceId})}" method="post" th:object="${experienceForm}">
<fieldset>
<legend>提供者情報</legend>
<div>
<p>氏名</p>
<label for="lastName">姓</label>
<input type="text" th:field="*{lastName}" placeholder="空欄可">
<label for="firstName">名</label>
<input type="text" th:field="*{firstName}" placeholder="空欄可">
</div>
<div>
<p>氏名（カナ）</p>
<label for="kanaLastName">セイ</label>
<input type="text" th:field="*{kanaLastName}" placeholder="空欄可">
<label for="kanaFirstName">メイ</label>
<input type="text" th:field="*{kanaFirstName}" placeholder="空欄可">
</div>
<div>
<p>性別</p>
<input type="radio" th:field="*{sex}" value="男性" required>
<label th:for="${#ids.prev('sex')}">男性</label>
<input type="radio" th:field="*{sex}" value="女性">
<label th:for="${#ids.prev('sex')}">女性</label>
<input type="radio" th:field="*{sex}" value="">
<label th:for="${#ids.prev('sex')}">非公開</label>
</div>
<div>
<p>文理</p>
<input type="radio" th:field="*{major}" value="文系" required>
<label th:for="${#ids.prev('major')}">文系</label>
<input type="radio" th:field="*{major}" value="理系">
<label th:for="${#ids.prev('major')}">理系</label>
<input type="radio" th:field="*{major}" value="">
<label th:for="${#ids.prev('major')}">非公開</label>
</div>
<div>
<p>大学・学部・学科</p>
<div>
<label for="prefecture">大学所在地</label>
<select th:field="*{prefecture}">
<option value="">非公開</option>
<option value="北海道">北海道</option>
<option value="青森県">青森県</option>
<option value="岩手県">岩手県</option>
<option value="宮城県">宮城県</option>
<option value="秋田県">秋田県</option>
<option value="山形県">山形県</option>
<option value="福島県">福島県</option>
<option value="茨城県">茨城県</option>
<option value="栃木県">栃木県</option>
<option value="群馬県">群馬県</option>
<option value="埼玉県">埼玉県</option>
<option value="千葉県">千葉県</option>
<option value="東京都">東京都</option>
<option value="神奈川県">神奈川県</option>
<option value="新潟県">新潟県</option>
<option value="富山県">富山県</option>
<option value="石川県">石川県</option>
<option value="福井県">福井県</option>
<option value="山梨県">山梨県</option>
<option value="長野県">長野県</option>
<option value="岐阜県">岐阜県</option>
<option value="静岡県">静岡県</option>
<option value="愛知県">愛知県</option>
<option value="三重県">三重県</option>
<option value="滋賀県">滋賀県</option>
<option value="京都府">京都府</option>
<option value="大阪府">大阪府</option>
<option value="兵庫県">兵庫県</option>
<option value="奈良県">奈良県</option>
<option value="和歌山県">和歌山県</option>
<option value="鳥取県">鳥取県</option>
<option value="島根県">島根県</option>
<option value="岡山県">岡山県</option>
<option value="広島県">広島県</option>
<option value="山口県">山口県</option>
<option value="徳島県">徳島県</option>
<option value="香川県">香川県</option>
<option value="愛媛県">愛媛県</option>
<option value="高知県">高知県</option>
<option value="福岡県">福岡県</option>
<option value="佐賀県">佐賀県</option>
<option value="長崎県">長崎県</option>
<option value="熊本県">熊本県</option>
<option value="大分県">大分県</option>
<option value="宮崎県">宮崎県</option>
<option value="鹿児島県">鹿児島県</option>
<option value="沖縄県">沖縄県</option>
</select>
<p th:if="${#fields.hasErrors('prefecture')}">必須項目です</p>
<input type="hidden" id="hiddenPref" th:value="${hiddenPref == null ? '' : hiddenPref}">
</div>
<div>
<label for="university">大学</label>
<select th:field="*{university}">
<option value="">非公開</option>
</select>
<p th:if="${#fields.hasErrors('university')}">必須項目です</p>
<input type="hidden" id="hiddenUniv" th:value="${hiddenUniv == null ? '' : hiddenUniv}">
</div>
<div>
<label for="faculty">学部</label>
<select th:field="*{faculty}">
<option value="">非公開</option>
</select>
<input type="hidden" id="hiddenFac" th:value="${hiddenFac == null ? '' : hiddenFac}">
</div>
<div>
<label for="department">学科</label>
<select th:field="*{department}">
<option value="">非公開</option>
</select>
<input type="hidden" id="hiddenDep" th:value="${hiddenDep == null ? '' : hiddenDep}">
</div>
</div>
<div>
<p>卒業年度</p>
<select th:field="*{graduation}">
<option value="">非公開</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
</select>
<label for="graduation">年度</label>
</div>
<div>
<p>最終学歴</p>
<input type="radio" th:field="*{academicDegree}" value="学部卒" required>
<label th:for="${#ids.prev('academicDegree')}">学部卒</label>
<input type="radio" th:field="*{academicDegree}" value="修士卒">
<label th:for="${#ids.prev('academicDegree')}">修士卒</label>
<input type="radio" th:field="*{academicDegree}" value="博士卒">
<label th:for="${#ids.prev('academicDegree')}">博士卒</label>
<input type="radio" th:field="*{academicDegree}" value="">
<label th:for="${#ids.prev('academicDegree')}">非公開</label>
</div>
<div>
<p>サークルなどでの役職・役割（複数選択可・必須）</p>
<th:block th:each="pos : ${positionList}">
<input type="checkbox" th:field="*{position}" th:value="${pos}">
<label th:for="${#ids.prev('position')}" th:text="${pos}"></label>
</th:block>
<p th:if="${#fields.hasErrors('position')}">１つ以上選択してください</p>
</div>
<div>
<p>所属サークル（複数登録可）</p>
<th:block th:each="clubItem, loop : *{club}">
<input class="clubItem" type="text" th:field="*{club[__${loop.index}__]}" placeholder="空欄可">
</th:block>
<div>
<input type="button" id="addClub" value="追加">
</div>
</div>
<div>
<p>内定先（複数登録可）</p>
<th:block th:each="offerItem, loop : *{offer}">
<input class="offerItem" type="text" th:field="*{offer[__${loop.index}__]}" placeholder="空欄可">
</th:block>
<div>
<input type="button" id="addOffer" value="追加">
</div>
</div>
<hr>
<div>
<input type="submit" name="post" value="修正">
</div>
</fieldset>
<input type="hidden" id="contextPath" th:value="@{/}">
</form>
</main>
<footer th:replace="common/footer :: footer"></footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script th:src="@{/js/setUniversity.js}"></script>
<script th:src="@{/js/submit.js}"></script>
<script th:src="@{/js/add.js}"></script>
</body>
</html>