body {
  font-family: "Avenir Next";
  background-color: #f5f5f5;
}

li {
  list-style: none;
}

.header {
  background: linear-gradient(-135deg, #409ecc, #a1d8e2);
  color: #fff;
  height: 80px;
  /*
  background: linear-gradient(-45deg, rgba(60, 145, 201, .7), rgba(156, 206, 209, .7)),url(../img/bg1.jpg);
  background-size: cover;
  */

}

.header-logo {
  float: left;
  padding: 20px 40px;
  width: 200px;
}

.header-list {
  float: left;
}

.logout{
  float: right;
}

.header-list li {
  float: left;
  padding: 20px 20px;
}

.logout li {
  float: right;
  padding: 20px 20px;
}


.footer {
  background-color: #409ecc;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.copy{
  float: right;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: left;
}

.footer-list li {
  padding-bottom: 20px;
}
