body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #203744;
  color: #fff;
  height: 100px;
  /*
  background: linear-gradient(-45deg, rgba(60, 145, 201, .5), rgba(86, 247, 239, .8)),url(../img/bg1.jpg);
  background-size: cover;
  */
}

.header-logo {
  float: left;
  padding: 20px 40px;
  width: 200px;
}

.header-list {
  float: left;
}

.header-list li {
  float: left;
  padding: 20px 20px;
}
