<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="common/head :: head"></th:block>
<title>メールアドレスの変更｜ダンサーズキャリア</title>
</head>
<body>
<header th:replace="common/header :: for-user"></header>
<main>
<article>
<h1>メールアドレスの変更</h1>
<form th:action="@{/user/account/change/email}" method="post" th:object="${newEmailForm}">
<div>
<p th:if="${param.error}">パスワードが異なります</p>
<div>
<label>現在のパスワード</label>
<input type="password" th:field="*{currentPassword}">
</div>
<div>
<label for="newEmail">新しいメールアドレス</label>
<input type="email" th:field="*{newEmail}" th:errorclass="error">
<p th:if="${#fields.hasErrors('newEmail')}" th:errors="*{newEmail}"></p>
</div>
<div>
<input type="submit" value="変更">
</div>
</div>
</form>
</article>
<aside th:replace="user/common/tab :: tab"></aside>
</main>
<footer th:replace="common/footer :: footer"></footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script th:src="@{/js/submit.js}"></script>
</body>
</html>