<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>パスワードの変更｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20181110}" href="../../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/window.css?update=20181110}" href="../../../static/css/window.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="../../../static/css/form.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/user.css?update=20181110}" href="../../../static/css/user.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/openclose.js}" src="../../../static/js/openclose.js"></script>
</head>
<body class="formbg7">
  <header th:replace="common/header :: for-user"></header>
  <main>
    <article>
      <div id="formdef">
        <h1>パスワードの変更</h1>
        <form th:action="@{/user/account/change/password}" method="post" th:object="${newPasswordForm}">
          <div>
            <p th:if="${param.error}" class="hazard"><i class="fas fa-exclamation-circle"></i>パスワードが異なります</p>
            <div>
              <label for="currentPassword"></label>
              <input type="password" th:field="*{currentPassword}" placeholder="現在のパスワード">
            </div>
            <div>
              <label for="newPassword"></label>
              <input type="password" th:field="*{newPassword}" placeholder="新しいパスワード">
              <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
            </div>
            <div>
              <label for="confirm"></label>
              <input type="password" th:field="*{confirm}" placeholder="新しいパスワード(確認)">
              <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></p>
            </div>
            <div class="caption">
              <p>パスワードの条件</p>
              <ul>
                <li>8文字以上</li>
                <li>半角英数字、記号（!.?+$%#&amp;*=@）をそれぞれ最低1文字ずつ含む</li>
              </ul>
            </div>
            <div>
              <input type="submit" value="変更">
            </div>
          </div>
        </form>
        </div>
      </article>
      <aside th:replace="user/common/tab :: tab"></aside>
    </main>
    <footer th:replace="common/footer :: footer"></footer>
    <script th:src="@{/js/submit.js}"></script>
  </body>
  </html>
