<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>メールアドレスの変更｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20181130}" href="../../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/window.css?update=20181110-2}" href="../../../static/css/window.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css?update=20181130}" href="../../../static/css/form.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/user.css?update=20181110}" href="../../../static/css/user.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/openclose.js}" src="../../../static/js/openclose.js"></script>
</head>
<body class="formbg8">
  <header th:replace="common/header :: for-user"></header>
  <main>
    <article>
      <div id="formdef">
        <h1>メールアドレスの変更</h1>
        <form th:action="@{/user/account/change/email}" method="post" th:object="${newEmailForm}">
          <div>
            <p th:if="${param.error}" class="hazard"><i class="fas fa-exclamation-circle"></i>パスワードが異なります</p>
            <div>
              <label></label>
              <input type="password" th:field="*{currentPassword}" placeholder="現在のパスワード">
            </div>
            <div>
              <label for="newEmail"></label>
              <input type="email" th:field="*{newEmail}" th:errorclass="error" placeholder="新しいメールアドレス">
              <p th:if="${#fields.hasErrors('newEmail')}" th:errors="*{newEmail}"></p>
            </div>
            <div>
              <input type="submit" value="変更">
            </div>
          </div>
        </form>
      </div>
    </article>
    <aside th:replace="user/common/tab :: tab"></aside>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
  <script th:src="@{/js/submit.js}"></script>
</body>
</html>
