<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ダンサーズキャリア｜ダンスの話を使ったES・就活体験談を公開</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="ダンサーズキャリアは、ダンサーの先輩たちが実際に就職活動で使ったエントリーシート・面接体験記を公開するサービスです。ダンスをやっていない人に、ダンスの話を面接という短時間の場で伝え切るには準備が必要です。体育会に負けず劣らずダンスに打ち込んだみなさんが就職活動でその経験をきちんと伝え、評価されて欲しい。そんな世界を創るために私たちはこのメディアを立ち上げました。本サイトを通して、1人でも多くのダンサーが就職活動を成功させることを願っています。">
	<meta name="google-site-verification" content="3aUVQIxa6KWFhIIqUkhCgaCFWgEhyxoD_xpMe3Spw2w">
	<th:block th:replace="common/favicons :: favicons"></th:block>
	<meta property="og:title" content="ダンサーズキャリア｜ダンスの話を使ったES・就活体験談を公開">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://dancers-career.t6sdl.tokyo/">
	<meta property="og:image" content="https://dancers-career.t6sdl.tokyo/img/top.jpg">
	<meta property="og:description" content="ダンサーズキャリアは、ダンサーの先輩たちが実際に就職活動で使ったエントリーシート・面接体験記を公開するサービスです。ダンスをやっていない人に、ダンスの話を面接という短時間の場で伝え切るには準備が必要です。体育会に負けず劣らずダンスに打ち込んだみなさんが就職活動でその経験をきちんと伝え、評価されて欲しい。そんな世界を創るために私たちはこのメディアを立ち上げました。本サイトを通して、1人でも多くのダンサーが就職活動を成功させることを願っています。">
	<meta property="og:site_name" content="ダンサーズキャリア">
	<meta property="fb:app_id" content="547642575658499">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@T6SDL">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20181202}" href="../../static/css/main.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css?update=20181202}" href="../../static/css/index.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/openclose.js}" src="../../static/js/openclose.js"></script>
</head>
<body>
	<header th:replace="common/header :: ${header}"></header>
	<main>
		<section id="top">
			<div class="container">
				<h2 id="catchphrase">人事がナットクする<br class="hide-l">ダンスの伝え方。</h2>
				<p id="desc">ダンサーズキャリアは、ダンサーの先輩たちが実際に就職活動で使った<br class="show-m">エントリーシート・面接体験記を公開するサービスです。</p>
			</div>
		</section>
		<section class="cta-sec">
			<div class="container cta-box">
				<div><a th:href="@{/experiences?all&sort=0}" class="button attract search">ES/体験記を探す</a></div>
				<div th:if="${header == 'for-stranger'}"><a th:href="@{/signup}" class="button">新規登録</a><a th:href="@{/signin}" class="button">ログイン</a></div>
			</div>
		</section>
		<section id="topics">
			<div class="container">
				<h2>TOPICS</h2>
				<span>ダンサー向け就活セミナーが開催されます！</span>
				<a th:href="@{/topics/1}">
					<img alt="バナー" th:src="@{/img/banner.jpg}" src="../../static/img/banner.jpg">
				</a>
			</div>
		</section>
		<section id="flow">
			<div class="container">
				<h2>面接に向けて準備しよう</h2>
				<div class="steps">
					<div class="step">
						<div class="index"><p>Step1</p></div>
						<div class="content"><p>ダンサーズキャリアで自分の興味のあるES/体験記を探す</p></div>
					</div>
					<div class="down-arrow"><i class="fas fa-angle-down"></i></div>
					<div class="step">
						<div class="index"><p>Step2</p></div>
						<div class="content"><p>見つけたESを参考にして自分の経験を言葉にする<br class="show-m">（ESには現役人事の方からのアドバイスも載っています）</p></div>
					</div>
					<div class="down-arrow"><i class="fas fa-angle-down"></i></div>
					<div class="step">
						<div class="index"><p>Step3</p></div>
						<div class="content"><p>ダンスを知らない人事への伝わりやすさを意識してESに書く</p></div>
					</div>
					<div class="down-arrow"><i class="fas fa-angle-down"></i></div>
					<div class="step">
						<div class="index"><p>Step4</p></div>
						<div class="content"><p>面接でどのように話すかを体験記を参考にしながら考える</p></div>
					</div>
					<div class="down-arrow"><i class="fas fa-angle-down"></i></div>
					<div class="goal">
						<p>いざ面接！</p>
					</div>
				</div>
				<div class="cta-box">
					<div><a th:href="@{/experiences?all&sort=0}" class="button attract search">ES/体験記を探す</a></div>
					<div th:if="${header == 'for-stranger'}"><a th:href="@{/signup}" class="button">新規登録</a><a th:href="@{/signin}" class="button">ログイン</a></div>
				</div>
			</div>
		</section>
		<section id="motive">
			<div class="container">
				<h2>ダンスの話は簡単には伝わらない</h2>
				<p>ダンスの経験を、準備せずにそのまま話してしまうと</p>
				<p>「歴代最高のショーを作った、と言ってるけどそれはどうやって測ったの？何をもって歴代最高だと言えるの？」<br>「というかショー作りってそんなに大変なものなの？」</p>
				<p>などと深堀りされた時に、答えられず落ちてしまうケースは珍しくありません。</p>
				<p>ダンスをやっていない人に、ダンスの話を面接という短時間の場で伝え切るには準備が必要です。</p>
				<p>体育会に負けず劣らずダンスに打ち込んだみなさんが就職活動でその経験をきちんと伝え、評価されて欲しい。</p>
				<p>そんな世界を創るために私たちはこのメディアを立ち上げました。</p>
				<p>本サイトを通して、1人でも多くのダンサーが就職活動を成功させることを願っています。</p>
			</div>
		</section>
		<section class="cta-sec">
			<div class="container cta-box">
				<div><a th:href="@{/experiences?all&sort=0}" class="button attract search">ES/体験記を探す</a></div>
				<div th:if="${header == 'for-stranger'}"><a th:href="@{/signup}" class="button">新規登録</a><a th:href="@{/signin}" class="button">ログイン</a></div>
			</div>
		</section>
	</main>
	<footer th:replace="common/footer :: footer"></footer>
</body>
</html>