<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <th:block th:replace="common/head :: head"></th:block>
  <title>ダンサーズキャリア - ダンサーのための就活サイト</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css">
</head>
 <body>
    <header th:replace="common/header :: for-user"></header>
    <main>
      <section>
        <div id="message">
          <img th:src="@{/img/top1.jpg}">
          <h1>人事がナットクするダンスの伝え方。</h1>
        </div>
      </section>
      <section>
        <section class="discription" id="d1">
          <h2>ダンサーズキャリアとは？</h2>
          <img th:src="@{/img/index2.jpg}">
          <p>このサイトは、大学生ストリートダンサーのESと面接事例を集約したサイトです。</p>
        </section>
        <section class="discription">
          <h2>このサイトの使い方</h2>
          <div>
            <p>step1</p>
            <p>ダンサーズキャリアで自分の興味のあるES/体験記を探す</p>
          </div>
          <div>
            <p>step2</p>
            <p>見つけたESを参考にして自分の経験をしっかり言語化する<span>（ESには現役人事の方からのアドバイスも載っています）</span></p>
          </div>
          <div>
            <p>step3</p>
            <p>実際に言語化したものをESに書く</p>
          </div>
          <div>
            <p>step4</p>
            <p>ESに書いたことを体験記を参考にしながらより詳細に言語化して面接で話す</p>
          </div>
        </section>
        <section class="discription">
          <h2>こんな人にオススメ</h2>
          <p>これから就活をするけど、ダンスの経験をどのように人事に伝えたら良いのか分からないダンサー</p>
        </section>
        <section class="discription">
          <h2>このサイトの意義</h2>
          <p>ダンサーのESと面接には大きな負があります。それは、どんな体育会にも負けないぐらい素晴らしい努力をしているにもかかわらず、その経験が人事に理解されないまま不合格になってしまうことがある点です。</p>
          <p>それを解決するために、私たちはこのメディアを立ち上げました。</p>
          <p>ダンサーの皆さんがこのサイトを通じて自分の経験を言語化し、人事に分かりやすく伝える力を身に着けていただき、内定を勝ち取っていただくことが一番の願いです。</p>
        </section>
      </section>
    </main>
    <footer th:replace="common/footer :: footer"></footer>
  </body>
</html>