@font-face('utf-8'){}

main {
  text-align: center;
}

h1 {
  margin: .1em 0;
  font-size: 5em;
  color: #426579;
}

h1 > i {
  font-size: 3em;
}

.redirection {
	margin: 0 auto;
	max-width: 480px;
	width: 100%;
}