@font-face('utf-8'){}

.exp-container {
  display: block;
  margin: 1em 0;
  padding: 1em;
  background: #ffffff;
  border-top: 3px solid #426579;
  font-size: 14px;
}

.exp-container h2 {
  margin: 0;
  text-align: left;
  color: #426579;
}

.exp-container h3 {
  margin-top: 2em;
  text-align: center;
  text-decoration: underline;
  font-size: 1.5em;
}

.exp-container p {
  margin: 0;
}

.exp-info hr {
  border-style: dashed;
}

.qanda-container hr {
  margin: .3em 0;
  border: 1px dashed #426579;
}

.exp-info .table {
  margin: .2em 0;
}

.es-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1em;
}

.ques {
  font-weight: bold;
}

.ans {
  font-size: .9em;
  color: #333333;
}

.adv {
  margin-top: 1em !important;
  color: #e64552;
  font-weight: bold;
  font-size: .9em;
}

.qanda-container {
  background-color: #f5f5f5;
  padding: .3em 1em;
  border-radius: .5em;
}

.qanda {
  padding: .7em 0;
}

.divide-slash + .divide-slash::before {
  content: ' / ';
}

.secret {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secret p {
  margin: .5em 0;
  text-align: center;
  font-size: .9em;
}

.secret .button {
  margin: .5em 0;
  width: 100%;
}

.likes {
  min-width: 4em;
  text-align: right;
  font-size: 18px;
}

@media (min-width: 600px) {
  .exp-info .table {
    display: flex;
  }
  .exp-info .table > div {
    min-width: 5em;
  }
  .es-info {
    flex-direction: row;
  }
  .es-info > p + p::before {
    content: '\FF5C';
    padding: 0 .5em;
  }
  a.exp-container:hover {
    opacity: .7;
  }
  .secret .button {
    width: 50%;
  }
}