@font-face('utf-8'){}

input {
	outline: none;
}

select {
  outline: none;
}

textarea {
  outline: none;
}

input::placeholder {
  color: #696969;
}

input:disabled, select:disabled, textarea:disabled {
	background: #dcdcdc;
}

.container.window--sm, .container.window--lg {
	padding: 2% 4%;
	width: 100%;
	background: #ffffff;
}

.note, .safety, .hazard {
	font-size: .8em;
}

.note {
	color: #4682b4;
}

.safety {
	color: #00bfff;
}

.hazard {
	color: #ff0000;
}

.form-buttons {
	display: flex;
	overflow-x: scroll;
	margin: .5em 0;
}

.form-item {
  margin: 2em 0;
}

.form-2-items > .form-item, .form-3-items > .form-item {
	margin: .5em 0;
}

.form-item__label {
  display: block;
  font-size: .8em;
}

.form-item__input {
  display: block;
}

.form-item__select {
  display: block;
	margin: .5em 0;
  padding: 0 1em;
  width: 100%;
	height: 3.5em;
	background: #ffffff;
  border: 1px solid #333;
  border-radius: .2em;
}

.form-item__textarea {
	margin: .5em 0;
  padding: .5em 1em;
	width: 100%;
	border: 1px solid #333;
	border-radius: .2em;
}

.form-item__button {
	display: block;
	margin: .5em 0;
	padding: .5em 1em;
	min-width: max-content;
	border: solid #333;
	border-width: 1px 1px 1px 0;
	font-weight: bold;
}

.form-item__button:first-of-type {
	border: 1px solid #333;
	border-radius: .2em 0 0 .2em;
}

.form-item__button:last-of-type {
	border-radius: 0 .2em .2em 0;
}

.form-item__button:hover {
	background: #b0c4de;
}

.form-item__button.checked {
	color: #ffffff;
	background: #4169e1;
}

.form-item__checkbox {
	margin: .5em 0;
}

.form-item__checkbox > label {
	display: inline-block;
}

.form-item__checkbox > input[type="checkbox"]:checked ~ label {
	font-weight: bold;
}

.form-item__checkbox > label::before {
  content: '';
  display: inline-block;
  margin-right: .5em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border: 2px solid #808080;
  vertical-align: text-bottom;
}

.form-item__checkbox > input[type="checkbox"]:not(:checked) ~ label:hover::before {
	background: #b0c4de;
}

.form-item__checkbox > input[type="checkbox"]:checked ~ label::before {
	content: '\f00c';
	font-family: 'Font Awesome 5 Free';
	font-weight: bold;
	color: #ffffff;
	background: #4169e1;
	border-color: #4169e1;
}

.form-item__button > input[type="radio"], .form-item__button > input[type="checkbox"], .form-item__checkbox > input[type="checkbox"] {
	display: none;
	margin: 0;
  width: 0;
  height: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-item__submit {
	width: 100%;
}

.input--short-text {
  margin: .5em 0;
  padding: 0 1em;
  width: 100%;
  height: 3.5em;
  border: 1px solid #333;
  border-radius: .2em;
}

input.invalid, select.invalid {
	background: #ffe4e1;
	border: 1px solid #ff0000;
}

p.invalid {
	font-size: .8em;
	color: #ff0000;
}

.exp-index {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2em;
}

.exp-search {
	position: sticky;
	top: 5em;
}

.filtered-by {
	display: block;
  padding: .3em 1em;
  text-align: left;
  background: #696969;
  color: #ffffff;
  font-weight: bold;
}

.filter-set {
  text-align: left;
}

.filter {
	margin: 0;
}

.filter > label {
	display: block;
  padding: .3em 1em;
  border-bottom: 1px solid #a9a9a9;
  background: #dcdcdc;
}

.filter > input[type="checkbox"]:not(:checked) ~ label:hover {
  background: #ffffff;
}

.filter > input[type="checkbox"]:checked ~ label {
	background: #ffffff;
}

.filter > input[type="checkbox"] ~ label::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  display: inline-block;
  border: none;
  color: #aaaaaa;
}

.filter > input[type="checkbox"]:not(:checked) ~ label:hover::before {
	background-color: transparent;
	color: #b0c4de;
}

.filter > input[type="checkbox"]:checked ~ label::before {
  transform: scale(1.4);
  background: transparent;
  color: #4169e1;
}

.filter > input[type="checkbox"] {
	display: none;
}

@media (min-width: 480px) {
	.container.window--sm {
    width: 80%;
	}
  .form-2-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form-2-items > .form-item {
    width: 49%;
  }
  .form-2-items > .form-item.form-item--wide {
    width: 60%;
  }
  .form-2-items > .form-item.form-item--narrow {
    width: 38%;
  }
}

@media (min-width: 800px) {
	.container.window--sm {
    width: 50%;
	}
	.container.window--lg {
	  width: 70%;
	}
	.form-3-items {
	  display: flex;
	  justify-content: space-between;
	}
	.form-3-items > .form-item {
	  width: 32%;
	}
  .exp-index {
    grid-template-columns: minmax(15em, 30%) 1fr;
  }
}