h1{
  text-align: center;
  color: #426579;
}

.hazard{
  text-align: center;
  color: #ff0000;
}

.linkblue{
  color:#4169e1;
}

input{
  border: none;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

input::placeholder {
  color: #606468;
}

after { clear: both; }

#formdef {
  margin: 50px auto;
  text-align: center;
}

#formdef form {
  margin: auto;
  width: 100%;
}

#formdef form input[type="email"] {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 385px;
  height: 50px;
}

#formdef form input[type="password"] {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: 0 15px;
  width: 385px;
  height: 50px;
}

#formdef form input[type="submit"] {
  background: #89c3eb;
  border: 0;
  width: 385px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#formdef form input[type="submit"]:hover {
  background: #426579;
}
