@font-face('utf-8'){}

input {
  border: none;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

select {
  margin: .5em;
  height: 3em;
  border: 1px solid #555555;
  outline: none;
  max-width: 30em;
}

textarea {
  width: 90%;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: .5em 1em;
  height: 150px;
}

button {
  outline: none;
  border: none;
}

input::placeholder {
  color: #606468;
}

input:not([type="radio"]):focus, textarea:focus {
  box-shadow: 0 0 7px #3498db;
  border: 1px solid #3498db;
}

input[type="password"] {
  border-radius: 3px 3px 3px 3px;
  margin: .5em 0;
  padding: 0 1em;
  width: 90%;
  height: 3.5em;
  border: 1px solid #555555;
}

input[type="email"] {
  border-radius: 3px 3px 3px 3px;
  margin: .5em 0;
  padding: 0 1em;
  width: 90%;
  height: 3.5em;
  border: 1px solid #555555;
}

button[type="submit"] {
  margin: .5em 0;
  -webkit-appearance: none;
}

button[type="button"] {
  margin: .5em 0;
  -webkit-appearance: none;
}

input[type="text"] {
  border-radius: 3px 3px 3px 3px;
  margin: .5em 0;
  padding: 0 1em;
  width: 45%;
  height: 3.5em;
  min-width: 200px;
  border: 1px solid #555555;
}

input[type="tel"] {
  border-radius: 3px 3px 3px 3px;
  margin: .5em 0;
  padding: 0 1em;
  min-width: 200px;
  width: 45%;
  height: 3.5em;
  border: 1px solid #555555;
}

form {
  text-align: center;
}

.form-item {
  padding: .5em 0;
}

.form-item > p {
  font-weight: bold;
}

table .label {
  text-align: right;
  width: 46%;
}

table .pulldown {
  text-align: left;
}