@font-face('utf-8'){}

/* ----- common ----- */
body {
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 0;
}

br.show-m {
  display: none;
}

/* ----- top ----- */
#top .concept {
  margin: 18vh auto 1em;
  font-size: 9vw;
}

#top .description {
  margin: 0 auto 16vh;
  font-size: .9em;
}

/* ----- flow ----- */
#flow h2 {
  margin: 0;
  padding: .5em 0;
  background: #ffffff;
  text-align: center;
}

#flow .spots {
  margin: 1em 0;
}

#flow .spots > span {
  display: block;
  margin: .4rem auto;
  background: #ffffff;
  border-radius: 50%;
}

#flow .spots > span.spot-s {
  width: .6rem;
  height: .6rem;
}

#flow .spots > span.spot-m {
  width: .8rem;
  height: .8rem;
}

#flow .spots > span.spot-l {
  width: 1rem;
  height: 1rem;
}

#flow .steps {
  margin: 3em 0;
}

#flow .step {
  margin: 3em 0;
}

#flow .step .index {
  font-size: 1.5rem;
  font-weight: bold;
}

#flow .step .index > span {
  display: inline-block;
  margin-right: .4em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  color: #f5f5f5;
  background: #333;
  border-radius: 50%;
  text-align: center;
}

#flow .step .content {
  padding-left: 2.5rem;
}

#flow .step .content > p > span {
  font-size: .8em;
}

#flow .step .img {
  padding: 0 2.5rem;
}

/* ----- motive ----- */
#motive .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#motive .container::before {
  content: 'MESSAGE';
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 12vw;
  font-weight: bold;
  color: #ffffff;
  z-index: -999;
}

#motive .concept {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}

#motive h2 {
  margin-left: 0;
  font-size: 1.8em;
  word-break: keep-all;
}

#motive p {
  margin: 1.5em 0;
  font-size: .9em;
}

/* ----- search ----- */
#search {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 7.7%;
  width: 2rem;
  height: 2rem;
  transition: ease-out .2s;
  animation: 4s linear 0s infinite normal search;
}

#search:hover {
  width: 260px;
  height: 260px;
  animation: none;
}

#search i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 0 2px 2px #696969;
  transition: ease-out .2s;
}

#search:hover i {
  font-size: 260px;
}

#search a {
  display: block;
  position: absolute;
  top: -1.5rem;
  left: -3rem;
  padding: .5rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 2px 2px #696969;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  background: #ffffff;
  opacity: 0;
  transition: ease-out .2s;
  transform: scale(0);
}

#search:hover a {
  top: 68px;
  left: 38px;
  opacity: 1;
  transform: scale(1);
}

#search a span {
  display: block;
  font-size: .8rem;
  font-weight: normal;
}

@keyframes search {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(0, -1rem);
  }
  10% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, -1rem);
  }
  20% {
    transform: translate(0, 0);
  }
}

/* ----- in case that width > 480px ----- */
@media (min-width: 480px) {
  br.hide-m {
    display: none;
  }
  
  br.show-m {
    display: block;
  }
  
  #top .description {
    font-size: 1em;
  }
}

/* ----- in case that width > 800px ----- */
@media (min-width: 800px) {
  br.hide-l {
    display: none;
  }
  
  #top .concept {
    font-size: 4vw;
  }
    
  #flow .step {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #flow .step:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  #flow .step > * {
   width: 46%;
    max-width: 26em;
  }
  
  #flow .step .txt {
    padding: 1em 0;
  }
  
  #flow .step .img {
    padding: 0;
  }
  
  #motive .container > * {
    width: 48%;
  }
}
