  /* ----- common ----- */
  body {
    margin: 0;
    padding: 0;
  }
  main {
    margin: 0;
  }
  section {
    padding: 14vh 0;
    width: 100%;
  }
  button {
    padding: 0;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  a.link-button {
    display: block;
    margin: 0 auto;
  }
  a.link-button button {
    width: 80%;
    max-width: 280px;
    height: auto;
    line-height: 2.5;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: all .2s ease-out;
  }
  br.show-l {
    display: none;
  }
  
  /* ----- sections ----- */
  #top {
    position: relative;
    padding: 0;
    background-image: url('https://dancers-career-2019-stg.herokuapp.com/img/top.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
  }
  #description {
    text-align: center;
  }
  #motive {
    background-image: url('https://dancers-career-2019-stg.herokuapp.com/img/motive.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: justify;
  }
  
  /* ----- top ----- */
  #summary {
    position: absolute;
    left: 0;
    right: 0;
    top: 8%;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.2em;
  }
  #catchphrase {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 52%;
    margin: 0;
    line-height: 1.5;
    font-size: 2.6em;
    font-family: Georgia, "Ÿà–¾’©‘Ì", "YuMincho", "Ÿà–¾’©", "Yu Mincho", "ƒqƒ‰ƒMƒm–¾’© ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ƒqƒ‰ƒMƒm–¾’© ProN", "Hiragino Mincho ProN", "ƒqƒ‰ƒMƒm–¾’© Pro", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", "MS PMincho", serif;
  }
  #sub-catchphrase {
    position: absolute;
    left: 0;
    right: 0;
    top: 49%;
    margin: 0;
    font-size: .8em;
  }
  #top a.link-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
  }
  #top a.link-button button {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
  }
  #top a.link-button button:hover {
    background: #426579;
    color: #ffffff;
  }
  #scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1%;
    font-size: .6em;
  }
  #scroll span.scroll-arrow {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 2em;
    height: 2em;
    opacity: 0;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: translateZ(0) rotateZ(45deg);
    -webkit-animation: scroll 2s infinite linear;
    animation: scroll 2s infinite linear;
  }
  #scroll span.scroll-arrow:nth-of-type(1) {
    bottom: 10vh;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #scroll span.scroll-arrow:nth-of-type(2) {
    bottom: 8vh;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.2s;
  }
  #scroll span.scroll-arrow:nth-of-type(3) {
    bottom: 6vh;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.4s;
  }
  @-webkit-keyframes scroll {
    0% {
      opacity: 0;
      transform: translateY(0) rotateZ(45deg);
    }
    20% {
      opacity: 1;
      transform: translateY(1px) rotateZ(45deg);
    }
    60% {
      opacity: 1;
      transform: translateY(3px) rotateZ(45deg);
    }
    80% {
      opacity: 0;
      transform: translateY(4px) rotateZ(45deg);
    }
    100% {
      opacity: 0;
      transform: translateY(5px) rotateZ(45deg);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 0;
      transform: translateY(0) rotateZ(45deg);
    }
    20% {
      opacity: 1;
      transform: translateY(1px) rotateZ(45deg);
    }
    60% {
      opacity: 1;
      transform: translateY(3px) rotateZ(45deg);
    }
    80% {
      opacity: 0;
      transform: translateY(4px) rotateZ(45deg);
    }
    100% {
      opacity: 0;
      transform: translateY(5px) rotateZ(45deg);
    }
  }
  
  /* ----- description ----- */
  .theme p, .theme h2 {
    margin: 0;
  }
  .theme p {
    padding-top: .6rem;
    font-size: .9em;
  }
  .theme h2 {
    padding-bottom: .8rem;
    line-height: 1.2;
  }
  #what .theme {
    position: relative;
    color: #426579;
  }
  #what .theme::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100%;
    border-top: 1px dashed #426579;
    border-bottom: 1px dashed #426579;
  }
  #what .content {
    margin: 3em 0;
  }
  #how {
    margin-top: 6em;
    width: 90%;
    border: 1px solid #426579;
    counter-reset: step;
  }
  #how .theme {
    background: #426579;
    color: #ffffff;
  }
  #how .flow {
     padding: 4em 10%;
     box-sizing: border-box;
  }
  #how .step {
    position: relative;
    padding: 0 3em;
    line-height: 1.5;
    box-sizing: border-box;
    border-bottom: 2px solid #aaaaaa;
    counter-increment: step;
  }
  #how .step::after {
    content: 'step' counter(step);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #cccccc;
    line-height: 1;
    font-size: 2.6em;
    font-weight: bold;
    z-index: -999;
    overflow: hidden;
  }
  #how .step p {
    margin-top: 0;
  }
  #how a.link-button {
    margin: .5em auto;
  }
  #how a.link-button button {
    background: #426579;
    color: #ffffff;
  }
  #how a.link-button button:hover {
    box-shadow: 0 2px 4px #666666;
  }
  #how .down-arrow {
    margin: .5rem auto;
    font-size: 2.6em;
    line-height: 1;
  }
  
  /* ----- motive ----- */
  #motive h2 {
    margin-top: 0;
  }
  
  /* ----- in case that width > 480px ----- */
  @media (min-width: 480px) {
    br.hide-m {
      display: none;
    }
    #catchphrase {
      font-size: 2em;
    }
  }
  
  /* ----- in case that width > 800px ----- */
  @media (min-width: 800px) {
    br.show-l {
      display: block;
    }
  }