/* ----- common ----- */
body{
  margin: 0px;
  padding: 0px;
  font-family: "Avenir Next";
  background-color: #f5f5f5;
  font-size: 18px;
  line-height: 2;
  color: #333;
  -webkit-text-size-adjust: none;
}

a {
  color: #333;	/*リンクテキストの色*/
  transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
  color: #426579;			/*マウスオン時の文字色*/
  text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}


.form:focus{
  box-shadow: 0 0 7px #3498db;
  border: 1px solid #3498db;
}

li{
  list-style: none;
}


ul{
  margin: 0px;
  padding: 0px;
}

.hazard{
  text-align: center;
  color: #ff0000;
}

input::placeholder {
  color: #606468;
}

/* ----- Header ----- */
.inner {
  margin: 0 auto;
}

header {
  border-top: 3px solid #426579;
  background-color: #fff;
}

header .inner {
  position: relative;
  height: 100px;
}

header #logo img {
  width: 180px;
  position: absolute;
  left: 3%;
  top: 20px;
}


/* ----- logout button ----- */

#logout {
  position: absolute;
  right: 3%;		/*header のinnerに対して右から3%の場所に配置*/
  top: 15px;	/*header のinnerに対して下から15pxの場所に配置*/
  float: left;	/*左に回り込み*/
  margin-top: 5px;
  font-size: 12px;
  text-decoration: none;
}

.square_btn{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1px;
  text-decoration: none;
}

.square_btn:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#dcdcdc;
  transition: .2s;
}

.square_btn:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
  background: #426579;
}

/* ----- menu ----- */

#menubar {
  clear: both;overflow: hidden;
  font-size: 12px;
  padding: 20px 20px;
  padding-left: 20%;
  margin: 0 25px;
}

#menubar li{
  float: left;
  width: 180px;
  height:55px;
  top: 30px;
  border-right: solid 1px;
  border-color: #426579;
  text-align: center;
}

#menubar #lastli{
  border-right:none;
}

#menubar li a{
  font-weight: bold;
  font-size: 12px;
  transition: .4s;
  text-decoration: none;
  color: #000;
}

#menubar li a:hover {
  font-size: 1.2em;
}

#menubar span{
  font-size: 10px;
}

#menubar-s {display: none;}

#menubar_hdr {display: none;}


/* ----- 800px - 480px ----- */
@media screen and (max-width:800px){

  .inner {
    width: auto;
  }

  @keyframes menu1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  #menubar-s {
    display: block;overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
    animation-name: menu1;
    animation-duration: 0.75S;
    animation-fill-mode: both;
  }

  #menubar-s li a {
    display: block;text-decoration: none;
    font-weight: bold;
    padding: 15px 5%;
    border: 1px solid #426579;
    border-bottom: none;
    background: #fff;
    color: #333;
    font-size: 12px;
    text-align: center;
  }

  #menubar-s #lastli {
    border-bottom: 1px solid #426579;
  }

  #menubar-s span{
    font-size: 10px;
  }

  #menubar {
    display: none;
  }

  #logout {
    display: none;
  }

  #menubar_hdr {
    display: block;
    position: absolute;
    top: 30px;
    right: 3%;
  }

  #menubar_hdr.close,
  #menubar_hdr.open {
    width: 50px;
    height: 50px;
    border: 3px solid #333;
    border-radius: 5px;
  }

  #menubar_hdr.close {
    background: #fff url(../img/icon_menu.png) no-repeat center top/50px;
  }

  #menubar_hdr.open {
    background: #fff url(../img/icon_menu.png) no-repeat center bottom/50px;
  }
}

/* ----- 480px ----- */
@media screen and (max-width:480px){

  body {
    font-size: 12px;
  }

  #menubar-s {
    display: block;overflow: hidden;
    font-weight: bold;
    position: absolute;
    width: 100%;
    z-index: 10;
    animation-name: menu1;
    animation-duration: 0.7S;
    animation-fill-mode: both;
  }
}

/* ----- Footer ----- */
.footer {
  background-color: #fff;
  height: 80px;
  padding: 40px;
}

.copy{
  float: right;
  font-size: 12px;
}

.footer-logo{
  float: left;
  font-size: 25px;
  color:#426579;
}

.footer-list{
  margin: 10px;
  float: left;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list a{
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.footer-logo{
  text-decoration: none;
}

/* ----- other ----- */
.topwords{
  color: #426579;
}

#terms{
  margin: 50px;
}
