body{
  font-family: "Avenir Next";
  background-color: #fefefe;
  margin: 0px;
  padding: 0px;
}


.button{
  display: inline-block;
  padding: 1em 3em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.button:hover {
  background: #67c5ff;
  color: white;
}

.form:focus{
  box-shadow: 0 0 7px #3498db;
  border: 1px solid #3498db;
}

li{
  list-style: none;
}

ul{
  margin: 0px;
}
/* --------------- common section --------------- */
/* ----- Header ----- */
.header {
  margin: 10px;
  background-color: #fff;
  color: #000;
  height: 80px;

}

.header-logo {
  float: left;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 20px;
  width: 180px;
}

.header-list {
  float: left;
}

.header-list li{
  text-decoration: none;
  font-weight: bold;
  float: left;
  padding: 20px 20px;
  border-right: solid 1px;
  border-color: #dcdcdc;
  width: 180px;
  text-align: center;
  color: #000;
}

.header-list a{
  font-size: 12px;
  transition: .4s;
}

.header-list a:hover {
  font-size: 0.9em;
}

.header-list span{
  font-size: 10px;
}


#lasli{
  border-right: none;
}

.logout{
  float: right;
  color: #000;
  padding: 40px 20px;
  text-align: center;
  font-size: 12px;
}

.square_btn{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1px;
  text-decoration: none;
}

.square_btn:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#dcdcdc;
  transition: .2s;
}

.square_btn:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}


/* ----- Footer ----- */
.footer {
  background-color: #fff;
  height: 120px;
  padding: 40px;
}

.copy{
  float: right;
  font-size: 12px;
}

.footer-logo {
  float: left;
  font-size: 25px;
}

.footer-list {
  margin: 10px;
  float: left;
  font-size: 12px;
}

.footer-list li {
  padding-bottom: 20px;
}
