/* ----- common ----- */
body{
  margin: 0px;
  padding: 0px;
  font-family: "Avenir Next";
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: 2;
  color: #333;
  -webkit-text-size-adjust: none;
}



a {
  color: #6495ed;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  color: #0000cd;
  text-decoration: none;
}

h1{
  text-align: center;
  color: #426579;
  margin:auto;
}

li{
  list-style: none;
}


ul{
  margin: 0px;
  padding: 0px;
}

.hazard{
  text-align: center;
  color: #ff0000;
  margin-top: 0px;
}

input::placeholder {
  color: #606468;
}

p{
  margin-bottom: 3px;
}

/* ----- Header ----- */
.inner {
  margin: 0 0;
}

header {
  border-top: 3px solid #426579;
  background-color: #fff;
}

header .inner {
  position: relative;
  height: 90px;
}

header #logo img {
  width: 180px;
  position: absolute;
  left: 3%;
  top: 25px;
  transition: .2s;
}

header #logo img:hover {
  width: 200px;
  position: absolute;
  left: 2%;
  top: 20px;
}

.caption{
  font-size: 12px;

}

#smltxt{
  font-size: 12px;
  color: #606468;
}
/* ----- logout button ----- */

#logout {
  position: absolute;
  right: 3%;
  top: 15px;
  float: left;
  margin-top: 5px;
  font-size: 12px;
  text-decoration: none;
}

.square_btn{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1px;
  color: #333;
}

.square_btn:hover{
  color: #426579;
}

.square_btn:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#dcdcdc;
  transition: .2s;
}

.square_btn:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
  background: #426579;
}

/* ----- menu ----- */

#menubar {
  clear: both;overflow: hidden;
  font-size: 12px;
  padding: 20px 20px;
  padding-left: 20%;
  margin: 0 25px;
}

#menubar li{
  float: left;
  width: 180px;
  height:55px;
  top: 30px;
  border-right: solid 1px;
  border-color: #426579;
  text-align: center;
}

#menubar #lastli{
  border-right:none;
}

#menubar li a{
  font-weight: bold;
  font-size: 12px;
  transition: .4s;
  text-decoration: none;
  color: #000;
}

#menubar li a:hover {
  font-size: 1.2em;
}

#menubar span{
  font-size: 10px;
}

#menubar-s {display: none;}

#menubar_hdr {display: none;}

/* ----- Footer ----- */
.footer {
  position: relative;
  background-color: #fff;
  height: 80px;
  padding: 40px;
}

.copy{
  font-size: 12px;

  position: absolute;
  top:130px;
  right:10px;
}

.footer-logo{
  float: left;
  font-size: 25px;
  color:#426579;
  text-decoration: none;
}

.footer-list{
  margin: 10px;
  float: left;
}

.footer-list li {
  padding-bottom: 20px;
  padding-left: 20px
}

.footer-list a{
  font-size: 12px;
  text-decoration: none;
  color: #000;
}


/* ----- Other ----- */
.topwords{
  color: #426579;
}

#terms{
  margin: 50px;
}

/* ----- Form ----- */

input{
  border: none;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

after { clear: both; }

.formbg1{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg1.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;
}

.formbg1::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.formbg2{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg2.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;

}

.formbg2::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.formbg3{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg3.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;
}

.formbg3::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}
.formbg4{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg4.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;
}

.formbg4::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}
.formbg5{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg5.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;
}

.formbg5::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.formbg6{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg6.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;
}

.formbg6::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.formbg7{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg6.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;
}

.formbg7::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.formbg8{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg6.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;
}

.formbg8::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

.formbg9{
  background: url(https://dancers-career-2019-stg.herokuapp.com/img/bg6.jpg)
  no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: auto;
  background-attachment: scroll;
  text-align: center;
}

.formbg9::before{
  content: '';
  background: inherit;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

#formdef{
  margin: 100px auto;
  padding:10px;
  padding-top: 10px;
  text-align: center;
  background-color: rgb(245, 245, 245,0.8);
  width: 40%;
  height: auto;
  border-radius: 10px;

}

#formdef form {
  margin: auto;
  padding: 20px 0;
  width: 80%;
  height: auto;
}

#formdefw {
  margin: 100px auto;
  padding:10px;
  padding-top: 10px;
  text-align: center;
  background-color: rgb(245, 245, 245,0.8);
  width:50%;
  height:auto;
  border-radius: 10px;

}

#formdefw form {
  margin: auto;
  padding: 20px 0;
  width: 80%;
  height: auto;
}



#formdef form input[type="email"] {
  border-radius: 3px 3px 3px 3px;
  margin-top: 20px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 90%;
  height: 50px;
}


.form:focus{
  box-shadow: 0 0 7px #3498db;
  border: 1px solid #3498db;
}

input[type="password"] {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 90%;
  height: 50px;
}

input[type="email"] {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 90%;
  height: 50px;
}

input[type="submit"] {
  background: #89c3eb;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-bottom: 10px;

}

input[type="submit"]:hover {
  background: #426579;
}

input[type="text"]{
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 90%;
  height: 50px;
}

input[type="tel"]{
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 250px;
  height: 50px;
}


#button{
  background: #89c3eb;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  width: 100%;
  height: 40px;
}

#button:hover {
  background: #426579;
  color: white;
}


/* ----- Contact  Form ----- */
#context{
  width: 100%;
}

#contactForm form input[type="email"]{
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 250px;
  height: 50px;
}

#contactForm form textarea{
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 350px;
  height: 150px;
}

#contactForm form input[type="submit"] {
  background: #89c3eb;
  border: 0;
  width: 385px;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#contactForm form input[type="submit"]:hover {
  background: #426579;
}



/* ----- experience ----- */


hr{
  border-top: 1px solid #426579;
}

.expbox{
  border: 1px solid #426579;
  padding: 10px;
  background-color: white;
  font-weight: bold;
}

.hrnone{
  border: none;
}

#cutl{
  border-style: dashed;
  border-color: #426579;

}

#ques{
  color: #4682b4;
  font-weight: bold;
}

#ans{
  color:#dc143c;
  font-weight: bold;
}

#job{
  color: #606468;
  font-style: 12px;
}
#fac{
  color: #606468;
  font-style: 12px;
}
#dep{
  color: #606468;
  font-style: 12px;
}

.qanda{
  background-color: #f5f5f5;
  padding:5px 10px;
}

.qanda2{
  background-color: white;
  margin:10px;
  padding:5px 10px;
}

main{
  margin: 50px;
}

button{
  background: #89c3eb;
  border: 0;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #426579;
}

.button{
  background: #89c3eb;
  border: 0;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: #426579;
}

#tab{
  text-align: right;
  margin-right: 10px;
  top: 0px;
}

.sidebutton a{
  color: #426579;
}

.sidebutton a:hover{
  color: #fff;

}

.sidebutton{
  display: inline-block;
  width: 15%;
  text-align: center;
  background-color: #426579;
  border: 2px solid #426579;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0px 20px;
  border-radius: 4px;
  position: relative;
}

.sidebutton span {
  position: relative;
  z-index: 1;
}

.sidebutton:before,
.sidebutton::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .3s;

}
.sidebutton::before {
  left: 0;
}
.sidebutton::after {
  right: 0;
}

.sidebutton:hover:before,
.sidebutton:hover:after {
  width: 0;

}

.sidebutton:hover {
  color: #FFF;
}

/* ------ 1000px - 800px ----- */
@media screen and (max-width:1000px){
  #formdefw {
    margin: 80px auto;
    width:70%;


  }

  #formdefw form {

    width: 85%;

  }

  #formdef{
    margin: 80px auto;

    width: 60%;


  }

  #formdef form {

    width: 85%;

  }



}
/* ----- 800px - 480px ----- */
@media screen and (max-width:800px){

  body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }

  .inner {
    width: auto;
  }

  /* ----- Header ----- */
  @keyframes menu1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  #menubar-s {
    display: block;overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
    animation-name: menu1;
    animation-duration: 0.75S;
    animation-fill-mode: both;
  }

  #menubar-s li a {
    display: block;text-decoration: none;
    font-weight: bold;
    padding: 15px 5%;
    border: 1px solid #426579;
    border-bottom: none;
    background: #333333;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }

  #menubar-s #lastli {
    border-bottom: 1px solid #426579;
  }

  #menubar-s span{
    font-size: 10px;
  }

  #menubar {
    display: none;
  }

  #logout {
    display: none;
  }

  #menubar_hdr {
    display: block;
    position: absolute;
    top: 30px;
    right: 3%;
    transition: 0.2s;
  }

  #menubar_hdr.close,
  #menubar_hdr.open {
    width: 50px;
    height: 50px;

  }

  #menubar_hdr.close {
    background: #fff url(../img/icon_menu.png) no-repeat center top/50px;
  }

  #menubar_hdr.open {
    background: #fff url(../img/icon_menu.png) no-repeat center bottom/50px;
  }
  /* ----- Footer ----- */



  #formdef{
    margin: 60px auto;
    width: 90%;


  }

  #formdef form {

    width: 90%;

  }


}

/* ----- 480px ----- */
@media screen and (max-width:480px){

  body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;

  }

  main{
    margin: 10px;
  }

  /* ----- Header ----- */
  #menubar-s {
    display: block;overflow: hidden;
    font-weight: bold;
    position: absolute;
    width: 100%;
    z-index: 10;
    animation-name: menu1;
    animation-duration: 0.7S;
    animation-fill-mode: both;
  }


  #formdefw {
    margin: 60px auto;
    width:90%;


  }

  #formdefw form {

    width: 90%;

  }






  /* ----- Footer ----- */



  .footer {
    background-color: #fff;
    height: auto;
    padding: 10px;
  }

  .copy{

    position: relative;
    text-align: center;

    top:0px;
    right:0px;
  }

  .footer-logo{
    float:none;
    text-align: center;

  }

  .footer-list{
    margin: 10px;
    float:none;
    position: relative;
    top: 0px;

  }

  .footer-list li {
    padding-bottom: 10px;
    padding-left: 0px;
    text-align: center;
  }

  .footer-list a{
    font-size: 12px;
    text-decoration: none;
    color: #000;
    text-align: center;
  }


  .sidebutton{
    display: inline-block;
    width: 50%;

  }

  #tab{
    text-align: center;
}
