@font-face('utf-8'){}

/* ----- index ----- */
.articles {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 4em 3em;
}

.articles > article > a {
	display: block;
}

.article__img {
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	background-image: unset;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.article__img::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

.articles > article:hover .article__img::before {
	background: rgba(255, 255, 255, .3);
}

.article__body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 10em;
	text-align: justify;
	border-bottom: 1px solid #426579;
}

.article__title {
	font-size: 1em;
}

.article__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article__datetime {
	font-size: .8em;
}

.article__direction {
	background: #426579;
}

.article__direction > i {
	display: block;
	padding: .2em .3em;
	font-size: 2em;
	color: white;
	transition: 0s;
}

.articles > article:hover .article__direction > i {
	transform: rotateX(2turn);
	transition: .8s cubic-bezier(0, 0, 0.2, 1);
}


/* ----- show ----- */
.news {
	padding: 4%;
	background: #ffffff;
	border-radius: .5em;
	box-shadow: 0 0 1em #cccccc;
}

.share {
	padding: 0;
}

.share__button {
	display: inline-block;
	width: 80px;
	height: 30px;
}

.share__button:hover {
	opacity: .8;
}

.share__button.facebook {
	background: #3b5998;
}

.share__button.twitter {
	background: #55acee;
}

.share__button a {
	display: block;
	width: 100%;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}

.share__button i {
	font-size: 1.2em;
}

.markdown > *:last-child {
	margin-bottom: 0;
}

.markdown h1, .markdown h2 {
	border-bottom: 3px solid #426579;
}

.markdown a {
	color: blue;
	word-break: break-all;
}

.markdown a.link--block {
	position: relative;
	display: inline-block;
	margin: .3em auto;
}

.markdown a.link--blank::before {
	content: '\f35d';
	font-family: 'Font Awesome 5 Free';
	font-weight: bold;
	display: inline-block;
	width: 1.5em;
}

.markdown a.link--block::after {
	content: '';
	position: absolute;
	bottom: -.3em;
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
	width: 0;
	height: 2px;
	background: blue;
	transition: .2s ease-out;
}

.markdown a.link--block:hover::after {
	width: 100%;
}

.markdown blockquote {
	margin-left: 0;
	margin-right: 0;
	padding: 1em 2em;
	border-left: .5em solid #808080;
	color: #808080;
}

.markdown blockquote p {
	margin: 0;
}


/* ----- in case that width > 480px ----- */
@media (min-width: 480px) {
	.articles {
		grid-template-columns: 1fr 1fr;
	}
}


/* ----- in case that width > 800px ----- */
@media (min-width: 800px) {
	.articles {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
