<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>お問い合わせ｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20181110}" href="../../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/window.css?update=20181110}" href="../../../static/css/window.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="../../../static/css/form.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/openclose.js}" src="../../../static/js/openclose.js"></script>
</head>
<body class="formbg2">
  <header th:replace="common/header :: ${header}"></header>
  <main>
    <div id="formfedw">
    <h1>お問い合わせ</h1>
    <form th:action="@{/about/contact}" method="post" th:object="${contactForm}">
      <div>
        <label for="from">ご自身のメールアドレス</label><br>
        <input type="text" th:field="*{from}" disabled>
      </div>
      <div>
        <label for="content">お問い合わせ内容</label><br>
        <textarea th:field="*{content}" cols="100" rows="10" disabled></textarea>
      </div>
      <div>
        <p>お問い合わせいただきありがとうございます。
        <br>後ほどダンサーズキャリア事務局からご連絡いたします。ご連絡には数日程度かかる場合がございます。ご了承ください。</p>
      </div>
    </form>
    </div>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
</body>
</html>
