<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>利用規約｜ダンサーズキャリア</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../static/css/main.css">
  <style type="text/css">
  section {
    color: #666;
  }
  h2 {
    color: #000;
  }
  ol > li {
    list-style: decimal;
  }
  li > ol > li {
    list-style: lower-alpha;
  }
  article {
    text-align: justify;
  }
  .date {
    text-align: right;
  }
  </style>
</head>
<body>
  <header th:replace="common/header :: ${header}"></header>
  <main id="terms">
    <h1 class="topwords">利用規約</h1>
    <article>
      <section>
        <h2>第1条【利用規約の適用】</h2>
        <p>会員の皆様には、この利用規約（以下、本規約）に従ってダンサーズキャリアをご利用いただきます。本規約の内容は、必要に応じて変更することがございます。ご利用の際には本ページに掲載されている最新の会員規約をご参照下さい。
          <br>この会員規約は、一般社団法人六大学ストリートダンス連盟（以下、当社）の提供するサービス「ダンサーズキャリア」（URL: https://dancers-career.t6sdl.tokyo/）を利用する一切に適用します。</p>
        </section>
        <section>
          <h2>第2条【会員登録】</h2>
          <p>（会員登録の承認）</p>
          <ol start="1">
            <li>所定の手続きを経て当社の提供するサービスへの入会を申込み、当社がこれを承認した者を会員と呼びます。当社は、別途定める方法にて会員登録を受け付け、必要な審査・手続等を経た後に会員登録を承認します。</li>
            <li>会員は会員登録申込をした時点で、この会員規約の内容を承諾しているものとみなします。</li>
          </ol>
          <p>（会員登録の不承認）</p>
          <ol start="3">
            <li>当社は、審査の結果、登録申込者が以下のいずれかに該当することがわかった場合、その者の入会を承認しないことがあります。
              <ol>
                <li>登録申込者が実在しないこと</li>
                <li>登録申込をした時点で、会員規約の違反等により会員資格の停止処分中、または過去に会員規約の違反等で除名処分を受けたことがあること</li>
                <li>登録申込の際の申告事項に、虚偽の記載、誤記、または記入漏れがあること</li>
                <li>同一人物が重複して会員登録すること</li>
                <li>第三者になりすまして登録すること</li>
                <li>その他、当社が会員としてふさわしくないと判断すること</li>
              </ol>
            </li>
          </ol>
        </section>
        <section>
          <h2>第3条【譲渡禁止等】</h2>
          <ol><li>会員は、会員として有する権利を第三者に譲渡したり、売買、名義変更、質権の設定その他の担保に供する等の行為はできないものとします。</li></ol>
        </section>
        <section>
          <h2>第4条【変更の届出】</h2>
          <ol>
            <li>会員は、弊社に届け出た内容に変更があった場合には、速やかに所定の方法で変更を届け出るものとします。</li>
            <li>前項の届出がなかったことで会員が不利益を被ったとしても、当社は一切その責任を負いません。</li>
          </ol>
        </section>
        <section>
          <h2>第5条【会員登録解除】</h2>
          <p>本サービスの会員登録の解除を希望する者が、本規約および当社が定める方法により、会員登録の解除を申し込むことを会員登録解除と呼びます。</p>
          <ol><li>会員が本サービスの会員登録の解除を希望する場合は、所定の方法にて届け出るものとします。</li></ol>
        </section>
        <section>
          <h2>第6条【会員資格】</h2>
          <p>（会員資格の消滅）</p>
          <ol>
            <li>会員資格は、会員が会員登録解除を申し込んだ日をもって、消滅するものとします。</li>
            <li>当社は、会員資格消滅日以降、会員資格を失った者に対するサービスの提供を停止します。</li>
          </ol>
        </section>
        <section>
          <h2>第7条【個人認証情報の管理責任】</h2>
          <ol>
            <li>IDおよびIDと組み合わせるパスワードその他の記号等は、過去に使われた組合せを除き、会員が任意に設定します。これを「個人認証情報」といい、個人認証情報を用いてサービスの利用権限が確認されることを「個人認証」といいます。</li>
            <li>会員は、自己の設定したパスワード等個人認証情報を失念した場合は、直ちに当社に申し出るものとし、当社の指示に従うものとします。</li>
            <li>会員は、自己のID、パスワードを含む個人認証情報の管理について一切の責任を持つものとします。会員の個人認証情報が他者に使用されたことによって当該会員が被る損害については、当該会員の故意過失の有無にかかわらず、当社は一切責任を負いません。会員は、自己の個人認証情報によるサービスの利用（本条により、会員による利用とみなされる他者の利用を含みます。）にかかわる利用料その他の債務の一切を負担するものとします。</li>
          </ol>
        </section>
        <section>
          <h2>第8条【自己責任の原則】</h2>
          <ol>
            <li>会員は、会員によるサービスの利用とそのサービスを利用してなされた一切の行為とその結果について、一切の責任を負います。</li>
            <li>会員は、サービスの利用に伴い、他者（国内外を問いません。また、会員に限りません。以下同様とします。）から問合せ、クレーム等が通知された場合は、自己の責任と費用をもって処理解決するものとします。</li>
            <li>会員は、他者の行為に対する要望、疑問もしくはクレームがある場合は、当該他者に対し、直接その旨を通知するものとし、その結果については、自己の責任と費用をもって処理解決するものとします。</li>
            <li>会員は、サービスの利用により当社または他者に対して損害を与えた場合（会員が、この会員規約上の義務を履行しないことにより他者または当社が損害を被った場合を含みます。）、自己の責任と費用をもって損害を賠償するものとします。</li>
          </ol>
        </section>
        <section>
          <h2>第9条【利用環境】</h2>
          <ol><li>会員は、サービスを利用するために必要な通信機器、ソフトウェア、その他これらに付随して必要となる全ての機器を、自己の費用と責任において準備し、サービスが利用可能な状態に置くものとします。また、自己の費用と責任で、任意の電気通信サービスを経由してサービスに接続するものとします。</li></ol>
        </section>
        <section>
          <h2>第10条【禁止事項】</h2>
          <ol>
            <li>会員は、本サービスの利用にあたって、以下の行為またはそのおそれがある行為を行ってはならないものとします。なお、当社の提供するサービスを利用する者の総称のことをユーザーと呼びます。
              <ol>
                <li>当社または第三者の知的財産権（特許権、実用新案権、意匠権、商標権、著作権等一切を含みます。）、肖像権、パブリシティー権等を侵害する行為</li>
                <li>他のユーザーまたは当社もしくは第三者に経済的・精神的な不利益、損害を与える行為</li>
                <li>公序良俗に反する行為</li>
                <li>故意・過失を問わず法律、法令等に違反する行為</li>
                <li>当社の承認がないにも関わらず、本サービスに関連した営利を目的とする行為</li>
                <li>本サービスの運営を妨害する行為</li>
                <li>本サービスの信用を失墜、毀損させる行為</li>
                <li>虚偽の情報を登録する行為</li>
                <li>IDおよびパスワードを不正に利用する行為</li>
                <li>IDおよびパスワードを第三者に開示する行為</li>
                <li>他のユーザーの個人情報を収集、蓄積する行為</li>
                <li>その他、当社が不適切と判断する行為</li>
                <li>上記各号のいずれかに該当する行為（当該行為を他者が行っている場合を含みます。）が見られるデータ等へ当該行為を助長する目的でリンクを張る行為</li>
              </ol>
            </li>
          </ol>
        </section>
        <section>
          <h2>第11条【会員規約違反等への対処】</h2>
          <ol>
            <li>当社は、会員が会員規約に違反した場合もしくはそのおそれのある場合、会員によるサービスの利用に関し他者から当社にクレーム・請求等が為され、かつ当社が必要と認めた場合、またはその他の理由で不適当と当社が判断した場合は、当該会員に対し、以下のいずれかまたはこれらを組み合わせて講ずることがあります。
              <ol>
                <li>会員規約に違反する行為またはそのおそれのある行為を止めること、および同様の行為を繰り返さないことを要求します。</li>
                <li>他者のクレーム・請求等の内容もしくはそれが掲載されているサイトのネットワーク上の位置情報その他内容を知る方法を適切な方法でネットワーク上に表示し、もしくは他者との間で、クレーム・請求等の解消のための協議（裁判外紛争解決手続きを含みます。）を行うことを要求します。</li>
                <li>IDの使用を一時停止、または除名処分とします。</li>
              </ol>
            </li>
          </ol>
        </section>
        <section>
          <h2>第12条【サービスの停止】</h2>
          <ol>
            <li>ユーザーは、本規約および当社が定める方法により、本サービスの利用を終了することができるものとします。</li>
            <li>当社は、会員が以下のいずれかの事由に該当する場合、またはそのおそれがあると当社が判断した場合、会員へ事前に通告・催告することなく、かつ、会員の承諾を得ずに、ただちに当該会員に対するサービス提供を停止することができるものとします。
              <ol>
                <li>本規約に違反した場合</li>
                <li>登録情報（会員登録または本サービス利用のために、会員が当社に提供した情報）に虚偽、過誤がある場合</li>
                <li>登録された電子メールアドレスが機能していないと判断される場合</li>
                <li>第三者になりすまして会員登録を行った場合</li>
                <li>規約に定める禁止事項を行った場合</li>
                <li>会員が死亡した場合</li>
                <li>その他、当社が不適切と判断した場合</li>
              </ol>
            </li>
            <li>当社は会員に対して、サービス停止の理由を開示する義務を負わないものとします。</li>
            <li>本条に定めるサービス停止により、ユーザーと当社の間で締結された契約が解除されるものとします。</li>
          </ol>
        </section>
        <section>
          <h2>第13条【免責事項】</h2>
          <ol>
            <li>当社は、本サービス内容により発生あるいは誘発された損害、情報の利用により得た成果、または、その情報自体の合法性や道徳性、権利の許諾、正確さについて、一切の責任を負わないものとします。</li>
            <li>当社は、本サービス提供のためのコンピューターシステムの障害等によるサイト上の障害、電子メールの遅配、未配およびそれ以外のいかなる原因に基づき生じた損害について、賠償する義務を一切負わないものとします。</li>
            <li>当社は、会員が使用するコンピューター、回線、ソフトウェア等の環境等に基づき生じた損害について、賠償する義務を一切負わないものとします。なお、当社は別途定める方法により、会員に対して当該環境等について告知することがあります。</li>
            <li>当社は、本サービスの停止または中止、サービス内容の変更によって受ける損害について、賠償する義務を一切負わないものとします。</li>
            <li>当社は、本サービスを原因として発生した、コンピューター、回線、ソフトウェア等の損害について、賠償する義務を一切負わないものとします。</li>
            <li>当社は、本サービスを通じて行われた第三者と会員との取引によって生じた債権債務について、一切の責任を負わないものとします。</li>
            <li>当社は、本サービスに関し、遅滞、変更、停止、中止、廃止、および本サービスを通じて提供される情報等の消失、その他本サービスに関連して発生した損害について、一切の責任を負わないものとします。</li>
          </ol>
        </section>
        <section>
          <h2>第14条【サービスの中止・停止】</h2>
          <ol>
            <li>当社は、以下の事由に起因する場合、本サービスの全部または一部を停止することができ、当該事由に起因して会員または第三者に損害が発生した場合、一切の責任を負わないものとします。
              <ol>
                <li>定期的または緊急に本サービス提供のためのコンピューターシステムの保守・点検を行う場合</li>
                <li>火災・停電、天災地変等の非常事態により本サービスの運営が不能となった場合</li>
                <li>本サービス提供のためのコンピューターシステムの不良および第三者からの不正アクセス、コンピューターウイルスの感染等により本サービスを提供できない場合</li>
                <li>法律、法令等に基づく措置により本サービスが提供できない場合</li>
                <li>その他、当社が止むを得ないと判断した場合</li>
              </ol>
            </li>
            <li>当社は、前項により本サービスの運用を停止する場合、事前に電子メール等により会員および第三者にその旨を通知するものとします。ただし、緊急の場合は、この限りではありません。</li>
            <li>当社は、事前に電子メール等により会員および第三者に通知することにより、本サービスの全部または一部を中止することができ、これにより会員または第三者に損害が発生した場合、一切の責任を負わないものとします。</li>
          </ol>
        </section>
        <section>
          <h2>第15条【著作権】</h2>
          <p>（著作権について）</p>
          <ol>
            <li>データの著作物性を問わず、データに関し発生しうる全ての著作権（著作権法第27条、同第28条に定める権利を含みます。）は当社が所有するものとします。</li>
            <li>また、前項により当社は情報提供者から送られたデータについて、情報提供者と別途定めたプライバシーポリシーに則って利用できる権利が当社に帰属することにつき合意するものとします。</li>
          </ol>
        </section>
        <section>
          <h2>第16条【個人情報の利用】</h2>
          <p>個人情報とは、登録情報のうち、電子メールアドレス等、特定の個人を識別できる情報のことを指します。</p>
          <p>（個人情報の利用目的）</p>
          <ol start="1">
            <li>利用者より収集した個人情報は、以下に定める目的でのみ利用いたします。
              <ol>
                <li>当社が提供するウェブサイトへのログイン時における本人確認のため</li>
                <li>当社が提供するウェブサイトを通じてのサービス提供のため</li>
                <li>求人、セミナー、イベント情報の提供のため</li>
                <li>メールマガジン、アンケート、キャンペーン、広告等の情報配信のため</li>
                <li>セミナー、イベント等開催、運営、管理のため（共同開催企業、協賛企業への参加者情報提供を含む）</li>
                <li>求人、セミナー、イベント情報の提供を目的とする求人企業、イベント主催者への情報提供、支援、助言行為のため</li>
                <li>属性情報、利用履歴、端末情報をもとにした広告やコンテンツ等の配信・表示、他社ウェブサイト上での広告配信のため</li>
                <li>お客様からの各種お問い合わせへの対応のため</li>
                <li>利用者のサービスの利用状況、および利用結果等の聴取のため</li>
                <li>本サービスの品質向上および商品、サービスの企画を目的とするご意見、ご要望等の聴取のため</li>
                <li>統計資料の作成のため</li>
              </ol>
            </li>
            <li>上記の他、別途掲示している当社提携サービスの各利用規約への同意がある場合に限り、同意されたサービスに対して個人情報を提供いたします。</li>
            <li>上記以外については、ご本人の同意がある場合または法令に基づく場合を除き、個人情報を第三者に提供いたしません。</li>
          </ol>
          <p>（個人情報の取扱の委託）</p>
          <ol start="4"><li>当社は、登録ユーザーより取得した個人情報の取扱いの全部又は一部を、必要な保護措置を講じた上で、本条に規定する利用目的の達成に必要な範囲内において、委託する場合があります。その場合は､個人情報保護体制が整備された委託先を選定するとともに、個人情報保護に関する契約を締結いたします。</li></ol>
        </section>
        <section>
          <h2>第17条【協議・管轄裁判所】</h2>
          <ol><li>本サービスに関連して会員、当社、第三者との間で訴訟の必要が生じた場合、東京地方裁判所を専属的合意管轄裁判所とするものとします。</li></ol>
        </section>
        <section>
          <h2>第18条【準拠法】</h2>
          <ol><li>本規約は日本国法に準じて解釈されるものとします。</li></ol>
        </section>
        <section>
          <h2>第19条【規約の改訂】</h2>
          <ol>
            <li>当社は、随時本規約を改訂することができるものとします。</li>
            <li>当社は、本規約を改訂しようとする場合、電子メールまたは本サービスに関するWEBサイトなどを使い随時、会員に告知するものとします。</li>
            <li>前項に基づき、本規約改訂を告知した日から当社が定める期間（定めがない場合は告知の日から1週間）以内にサービスの利用を停止もしくは会員登録の解除を行わない場合、当該ユーザーは本規約の改訂に同意したものとみなされ、当該会員と当社との間で改訂後の規約の効力が発生するものとします。</li>
            <li>会員は、前項に定める効力発生の時点以降、当該内容の不知または不承諾を申し立てることはできないものとします。</li>
          </ol>
        </section>
        <p class="date">2018年10月1日制定</p>
      </article>
    </main>
    <footer th:replace="common/footer :: footer"></footer>
  </body>
  </html>
