<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ES/体験記｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../static/css/main.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/openclose.js}" src="../../static/js/openclose.js"></script>
</head>
<body>
  <header th:replace="common/header :: ${header}"></header>
  <main>
    <!--  <h1>ES/体験記</h1> -->
    <article th:object="${experience}">
      <div>
        <p th:unless="${isLiked}">お気に入りに登録されていません <a th:href="@{/experiences/{experienceId}?like(experienceId=*{experience_id})}"><button class="button">登録</button></a></p>
        <p th:if="${isLiked}">お気に入りに登録されています <a th:href="@{/experiences/{experienceId}?dislike(experienceId=*{experience_id})}"><button class="button">削除</button></a></p>
      </div>
      <div>
        <p id="job"><span th:each="pos : *{position}" th:text="${pos}"></span></p><!-- 役職タグ -->
        <h2>
          <span th:text="*{university} == '' ? '非公開' : *{university}"></span>
          <span th:text="*{faculty}" id="fac"></span>
          <span th:text="*{department}" id="dep"></span>
        </h2>
        <p th:if="*{last_name != '' && first_name != ''}" th:text="|*{last_name} *{first_name} さん|"></p>
        <p>所属サークル：<span th:each="cl : *{club}" th:text="|${cl == '' ? '非公開' : cl} |"></span></p>
        <p>内定先：<span th:each="off : *{offer}" th:text="|${off == '' ? '非公開' : off} |"></span></p>
        <p><span th:text="*{graduation} == '' ? '非公開' : *{graduation} + ' 年卒'"></span>｜<span th:text="*{academic_degree} == '' ? '非公開' : *{academic_degree}"></span>｜<span th:text="*{major} == '' ? '非公開' : *{major}"></span>｜<span th:text="*{sex} == '' ? '非公開' : *{sex}"></span></p>
      </div>

        <div th:each="esItem, loop : *{es}" class="expbox"><!-- 設問と回答のセット数に関係なく、提出企業ごとにこのタグで挟まれるように変更しました -->
          <hr class="hrnone">
          <p>提出先企業：<span th:text="*{es[__${loop.index}__].corp} == '' ? '非公開' : *{es[__${loop.index}__].corp}"></span></p>
          <p>選考結果：<span th:text="*{es[__${loop.index}__].result} == '' ? '非公開' : *{es[__${loop.index}__].result}"></span>
            <hr class="hrnone"></p>


          <div class="qanda">
            <p><span id="ques">設問</span>：<span th:text="*{es[__${loop.index}__].question} == '' ? '非公開' : *{es[__${loop.index}__].question}"></span></p>
            <p><span id="ans">回答</span>：<br><span th:each="str, stat : *{es[__${loop.index}__].answer.split('\n', -1)}"><th:block th:text="${str == '' ? '非公開' : str}"></th:block><br th:if="${!stat.last}"></span></p>
            <hr id="cutl">
            <p>赤入れ：<br><span th:each="str, stat : *{es[__${loop.index}__].advice.split('\n', -1)}"><th:block th:text="${str == '' ? 'なし' : str}"></th:block><br th:if="${!stat.last}"></div></span></p>


        </div>

      <br>



      <div th:each="interviewItem, loop : *{interview}" class="qanda2">
        <hr class="hrnone">
        <p><span id="ques">質問</span>：<span th:text="*{interview[__${loop.index}__].question} == '' ? '非公開' : *{interview[__${loop.index}__].question}"></span></p>
        <p><span id="ans">回答</span>：<br><span th:each="str, stat : *{interview[__${loop.index}__].answer.split('\n', -1)}"><th:block th:text="${str == '' ? '非公開' : str}"></th:block><br th:if="${!stat.last}"></span></p>
      </div>
      <div>
        <p th:unless="${isLiked}">お気に入りに登録されていません <a th:href="@{/experiences/{experienceId}?like(experienceId=*{experience_id})}"><button class="button">登録</button></a></p>
        <p th:if="${isLiked}">お気に入りに登録されています <a th:href="@{/experiences/{experienceId}?dislike(experienceId=*{experience_id})}"><button class="button">削除</button></a></p>
      </div>
    </article>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
</body>
</html>
