<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="common/head :: head"></th:block>
  <title>ES/体験記｜ダンサーズキャリア</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../static/css/main.css">
</head>
<body>
  <header th:replace="common/header :: ${header}"></header>
  <main>
    <h1>ES/体験記</h1>
    <form th:action="@{/experiences}" method="get" th:object="${searchForm}">
      <div>
        <th:block th:each="pos : ${positionList}">
        <input type="checkbox" th:field="*{position}" th:value="${pos}">
        <label th:for="${#ids.prev('position')}" th:text="${pos}"></label>
        </th:block>
      </div>
      <div>
        <input type="submit" name="by-position" value="検索" class="button">
      </div>
      <div>
        <input type="submit" name="all" value="絞り込み解除" class="button">
      </div>
      <input type="hidden" name="sort" value="0">
    </form>
    <hr>
    <div>
      <p>検索結果： <span th:text="${count}"></span> 件</p>
    </div>
    <section th:if="${count == 0 ? false : true}">
      <article th:each="experience : ${experiences}" th:object="${experience}">
        <div>
          <p><span th:each="pos : *{position}" th:text="${pos}"></span></p>
          <h1 th:text="*{university}"></h1>
          <p>内定先：<span th:each="off : *{offer}" th:text="${off} == '' ? '非公開' : ${off} + ' '"></span></p>
        </div>
        <div>
          <p><span th:text="*{graduation} == '' ? '非公開' : *{graduation} + ' 年卒'"></span>｜<span th:text="*{academic_degree} == '' ? '非公開' : *{academic_degree}"></span>｜<span th:text="*{major} == '' ? '非公開' : *{major}"></span>｜<span th:text="*{sex} == '' ? '非公開' : *{sex}"></span></p>
        </div>

        <div>
          <a th:href="@{/experiences/{experienceId}(experienceId=*{experience_id})}"><button class="button">詳細を見る</button></a>
        </div>
        <hr>
      </article>
    </section>
    <section  th:unless="${count == 0 ? false : true}">
      <p>お探しのES/体験記は見つかりません</p>
    </section>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
  <script th:src="@{/js/submit.js}"></script>
</body>
</html>
