<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ES/体験記｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20181110}" href="../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="../../static/css/form.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/experience.css?update=20181110}" href="../../static/css/experience.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/openclose.js}" src="../../static/js/openclose.js"></script>
</head>
<body>
  <header th:replace="common/header :: ${header}"></header>
  <main>
    <form th:action="@{/experiences}" method="get" th:object="${searchForm}" id="exp-form">
      <div>
        <span th:each="pos : ${positionList}" class="position-tag">
          <input type="checkbox" th:field="*{position}" th:value="${pos}">
          <label th:for="${#ids.prev('position')}" th:text="${pos}"></label>
        </span>
      </div>
      <div>
        <input type="submit" name="by-position" value="検索" class="button">
      </div>
      <div>
        <input type="submit" name="all" value="絞り込み解除" class="button">
      </div>
      <input type="hidden" name="sort" value="0">
    </form>
    <hr>
    <div>
      <p style="font-size:12px; color:#606468;"><i class="fas fa-search fa-fw"></i> 検索結果： <span th:text="${count}"></span> 件</p>
    </div>
    <section th:if="${count == 0 ? false : true}">
      <article th:each="experience : ${experiences}" th:object="${experience}" class="exp-container">
        <div>
          <p style="margin: 0;"><span th:each="pos : *{position}" th:text="${pos}" class="position-tag"></span></p>
          <h1 th:text="*{univ_name}" style="font-size:1.5em; margin-top:0;"></h1>
        </div>
        <div style="display:flex; justify-content:space-between; flex-wrap:wrap;">
          <p>内定先：<span class="divide-slash" th:each="off : *{offer}" th:text="${off} == '' ? '非公開' : ${off}"></span></p>
          <p><span th:text="*{graduation} == '' ? '非公開' : *{graduation} + ' 年卒'"></span>｜<span th:text="*{academic_degree} == '' ? '非公開' : *{academic_degree}"></span>｜<span th:text="*{major} == '' ? '非公開' : *{major}"></span>｜<span th:text="*{sex} == '' ? '非公開' : *{sex}"></span></p>
        </div>
        <hr>
        <div style="display:flex; flex-wrap:wrap; justify-content:space-between;">
          <span><i class="fas fa-heart"></i> <span th:text="*{likes}"></span></span>
          <a class="button" th:href="@{/experiences/{experienceId}(experienceId=*{experience_id})}">詳細を見る</a>
        </div>
      </article>
    </section>
    <section  th:unless="${count == 0 ? false : true}">
      <p>お探しのES/体験記は見つかりません</p>
    </section>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
  <script th:src="@{/js/submit.js}"></script>
</body>
</html>
