<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="|ES/体験記【${title}】｜ダンサーズキャリア|">ES/体験記｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20200529}" href="../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/experience.css?update=20200529}" href="../../static/css/experience.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
  <header th:replace="common/header :: ${header}"></header>
  <main>
    <div class="container">
	    <h1 class="title">ES/体験記</h1>
	    <article th:object="${experience}">
	      <div class="exp-container">
	        <div class="exp-info">
	          <div style="display:flex; justify-content:space-between">
	         	<div><span th:each="pos : *{position}" th:text="${pos}" class="position-tag"></span></div>
	            <div class="likes"><span th:text="*{likes}"></span> <span th:if="*{liked}"><i class="fas fa-heart"></i></span><span th:unless="*{liked}"><i class="far fa-heart"></i></span></div>
	          </div>
	          <h2>
	            <span th:text="*{univName} == '' ? '非公開' : *{univName}"></span>
	            <span style="display:inline-block;">
	              <span th:text="*{univFac}"></span>
	              <span th:text="*{univDep}"></span>
	            </span>
	          </h2>
	          <div>
	            <p th:if="*{familyName != '' && givenName != ''}" th:text="|*{familyName} *{givenName} さん|"></p>
	            <p><span th:text="*{graduatedIn} == '' ? '非公開' : *{graduatedIn} + ' 年卒'"></span>｜<span th:text="*{degree} == '' ? '非公開' : *{degree}"></span>｜<span th:text="*{major} == '' ? '非公開' : *{major}"></span>｜<span th:text="*{sex} == '' ? '非公開' : *{sex}"></span></p>
	          </div>
	          <hr>
	          <div class="table">
	            <div><strong>サークル</strong></div>
	            <div><span class="divide-slash" th:each="clb : *{club}" th:text="|${clb == '' ? '非公開' : clb} |"></span></div>
	          </div>
	          <div class="table">
	            <div><strong>内定先</strong></div>
	            <div><span class="divide-slash" th:each="ofr : *{offer}" th:text="|${ofr == '' ? '非公開' : ofr} |"></span></div>
	          </div>
	        </div>
	        <hr>
	        <h3 th:unless="*{#lists.isEmpty(es)}">ES</h3>
	        <div th:each="esItem : *{es}">
	          <div class="es-info">
	            <p>提出先企業：<span th:text="*{es[0].corp} == '' ? '非公開' : *{es[0].corp}"></span></p>
	            <p>選考結果：<span th:text="*{es[0].result} == '' ? '非公開' : *{es[0].result}"></span></p>        
	          </div>
	          <div class="qanda-container">
	            <div class="qanda">
	              <p class="ques"><span th:text="*{es[0].question[0]} == '' ? '非公開' : *{es[0].question[0]}"></span></p>
	              <hr>
	              <p class="ans"><span th:each="str, stat : *{es[0].answer[0].split('\n', -1)}"><th:block th:text="${str == '' ? '非公開' : str}"></th:block><br th:if="${!stat.last}"></span></p>
	              <p class="adv"><i class="far fa-comment-dots"></i> 現役人事からのコメント<br><span th:each="str, stat : *{es[0].advice[0].split('\n', -1)}"><th:block th:text="${str == '' ? 'なし' : str}"></th:block><br th:if="${!stat.last}"></span></p>
	            </div>
	            <div th:if="${otherEs > 0}">
	              <div th:unless="${validEmail}" class="secret">
	                <p><strong>あと<span th:text="${otherEs}"></span>件のESがあります。</strong>全て見るには「メールアドレスの確認」が必要です。</p>
	                <p>メールアドレスの確認はダンサーズキャリアから届くメールの「メールアドレスの確認」ボタンを押すことで完了します。</p>
	                <a class="inner-link" th:href="@{/help/get-email}"><i class="far fa-question-circle"></i>メールが届かない</a>
	              </div>
	              <div th:if="${validEmail}" class="secret">
	                <p><strong>あと<span th:text="${otherEs}"></span>件のESがあります。</strong>全て見るには「プロフィールの登録」が必要です。</p>
	                <a class="button button--primary" th:href="@{/signup/profile?revisit}">
	                  <span class="button__text">プロフィールを登録する</span><i class="button__icon fas fa-arrow-right"></i>
	                </a>
	              </div>
	            </div>
	          </div>
	        </div>
	        <h3 th:unless="*{#lists.isEmpty(interview)}">Interview</h3>
	        <div th:unless="*{#lists.isEmpty(interview)}" class="qanda-container">
	          <div th:each="interviewItem, loop : *{interview}" class="qanda">
	            <p class="ques"><span th:text="*{interview[__${loop.index}__].question} == '' ? '非公開' : *{interview[__${loop.index}__].question}"></span></p>
	            <hr>
	            <p class="ans"><span th:each="str, stat : *{interview[__${loop.index}__].answer.split('\n', -1)}"><th:block th:text="${str == '' ? '非公開' : str}"></th:block><br th:if="${!stat.last}"></span></p>
	          </div>
	        </div>
	      </div>
	    </article>
    </div>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
  <script>
  $(() => {
	 const $likes = $('.likes'),
	 $heart = $likes.children().children('.fa-heart');
	 if ($heart.hasClass('far')) {
		 $likes.children('span').css({
			color: '#888888',		 
		 });
	 } else if ($heart.hasClass('fas')) {
		 $likes.children('span').css({
			 color: '#e64552',
		 });
	 }
  });
  </script>
</body>
</html>