<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="|ES/体験記【${title}】｜ダンサーズキャリア|">ES/体験記｜ダンサーズキャリア</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <th:block th:replace="common/favicons :: favicons"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?update=20181202}" href="../../static/css/main.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/experience.css?update=20181112}" href="../../static/css/experience.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/openclose.js}" src="../../static/js/openclose.js"></script>
</head>
<body>
  <header th:replace="common/header :: ${header}"></header>
  <main>
    <h1 class="title">ES/体験記</h1>
    <article class="container" th:object="${experience}">
      <div class="exp-container">
        <div class="exp-info">
          <div style="display:flex; justify-content:space-between">
         	<div><span th:each="pos : *{position}" th:text="${pos}" class="position-tag"></span></div>
            <div class="likes"><span th:if="*{_liked}"><i class="fas fa-heart"></i></span><span th:unless="*{_liked}"><i class="far fa-heart"></i></span></div>
          </div>
          <h2>
            <span th:text="*{univ_name} == '' ? '非公開' : *{univ_name}"></span>
            <span style="display:inline-block;">
              <span th:text="*{faculty}"></span>
              <span th:text="*{department}"></span>
            </span>
          </h2>
          <div>
            <p th:if="*{last_name != '' && first_name != ''}" th:text="|*{last_name} *{first_name} さん|"></p>
            <p><span th:text="*{graduation} == '' ? '非公開' : *{graduation} + ' 年卒'"></span>｜<span th:text="*{academic_degree} == '' ? '非公開' : *{academic_degree}"></span>｜<span th:text="*{major} == '' ? '非公開' : *{major}"></span>｜<span th:text="*{sex} == '' ? '非公開' : *{sex}"></span></p>
          </div>
          <hr>
          <div class="table">
            <div><strong>サークル</strong></div>
            <div><span class="divide-slash" th:each="cl : *{club}" th:text="|${cl == '' ? '非公開' : cl} |"></span></div>
          </div>
          <div class="table">
            <div><strong>内定先</strong></div>
            <div><span class="divide-slash" th:each="off : *{offer}" th:text="|${off == '' ? '非公開' : off} |"></span></div>
          </div>
        </div>
        <hr>
        <h3>ES</h3>
        <div th:each="esItem : *{es}">
          <div class="es-info">
            <p>提出先企業：<span th:text="*{es[0].corp} == '' ? '非公開' : *{es[0].corp}"></span></p>
            <p>選考結果：<span th:text="*{es[0].result} == '' ? '非公開' : *{es[0].result}"></span></p>        
          </div>
          <div class="qanda-container">
            <div class="qanda">
              <p class="ques"><span th:text="*{es[0].question[0]} == '' ? '非公開' : *{es[0].question[0]}"></span></p>
              <hr>
              <p class="ans"><span th:each="str, stat : *{es[0].answer[0].split('\n', -1)}"><th:block th:text="${str == '' ? '非公開' : str}"></th:block><br th:if="${!stat.last}"></span></p>
              <p class="adv"><i class="far fa-comment-dots"></i> 現役人事からのコメント<br><span th:each="str, stat : *{es[0].advice[0].split('\n', -1)}"><th:block th:text="${str == '' ? 'なし' : str}"></th:block><br th:if="${!stat.last}"></span></p>
            </div>
            <div th:if="${otherEs > 0}">
              <div th:unless="${validEmail}" class="secret">
                <p><strong>あと<span th:text="${otherEs}"></span>件のESがあります。全て見るには「メールアドレスの確認」が必要です。</strong></p>
                <p>メールアドレスの確認は「ダンサーズキャリア（dancerscareer_support@t6sdl.tokyo）」から届くメールの「メールアドレスの確認」ボタンを押すことで完了します。</p>
                <a th:href="@{/help/get-email}"><i class="far fa-question-circle"></i>メールが届かない</a>
              </div>
              <div th:if="${validEmail}" class="secret">
                <p><strong>あと<span th:text="${otherEs}"></span>件のESがあります。全て見るには「プロフィールの登録」が必要です。</strong></p>
                <a class="button" th:href="@{/signup/profile?revisit}">プロフィールを登録する</a>
              </div>
            </div>
          </div>
        </div>
        <h3>Interview</h3>
        <div class="qanda-container">
          <div th:each="interviewItem, loop : *{interview}" class="qanda">
            <p class="ques"><span th:text="*{interview[__${loop.index}__].question} == '' ? '非公開' : *{interview[__${loop.index}__].question}"></span></p>
            <hr>
            <p class="ans"><span th:each="str, stat : *{interview[__${loop.index}__].answer.split('\n', -1)}"><th:block th:text="${str == '' ? '非公開' : str}"></th:block><br th:if="${!stat.last}"></span></p>
          </div>
        </div>
        <div style="display:inline-flex; justify-content:flex-start; line-height:1.8; color:#ffffff; font-size:14px;">
          <span style="padding:0 .5em; border-right:2px solid #ffffff; border-radius:.5em 0 0 .5em; background:#e64552;"><i class="fas fa-heart"></i> お気に入り</span><span style="padding:0 .5em; border-radius:0 .5em .5em 0; background:#b64552; font-weight:bold;" th:text="*{likes}"></span>
        </div>
      </div>
    </article>
  </main>
  <footer th:replace="common/footer :: footer"></footer>
</body>
</html>